<ng-container [formGroup]="form">

  <ng-container [ngSwitch]="field.fieldType">

    <ng-container *ngSwitchCase="fieldType.Static">
      <label for="field.fieldNameCamelCase">{{field.fieldOption.displayName}}</label>
      <input type="text" [id]="field.fieldNameCamelCase" [formControlName]="field.fieldNameCamelCase" class="form-control"
        readonly>
    </ng-container>

    <ng-container *ngSwitchCase="fieldType.TextBox">
      <label for="field.fieldNameCamelCase">{{field.fieldOption.displayName}}</label>
      <input type="text" [id]="field.fieldNameCamelCase" [formControlName]="field.fieldNameCamelCase" class="form-control">
    </ng-container>

    <ng-container *ngSwitchCase="fieldType.Number">
      <label for="field.fieldNameCamelCase">{{field.fieldOption.displayName}}</label>
      <input type="number" [id]="field.fieldNameCamelCase" [formControlName]="field.fieldNameCamelCase" class="form-control">
    </ng-container>

    <ng-container *ngSwitchCase="fieldType.EmailAddress">
      <label for="field.fieldNameCamelCase">{{field.fieldOption.displayName}}</label>
      <input type="email" [id]="field.fieldNameCamelCase" [formControlName]="field.fieldNameCamelCase" class="form-control">
    </ng-container>

    <ng-container *ngSwitchCase="fieldType.Phone">
      <label for="field.fieldNameCamelCase">{{field.fieldOption.displayName}}</label>
      <input type="tel" [id]="field.fieldNameCamelCase" [formControlName]="field.fieldNameCamelCase" class="form-control">
    </ng-container>

    <ng-container *ngSwitchCase="fieldType.TextArea">
      <label for="field.fieldNameCamelCase">{{field.fieldOption.displayName}}</label>
      <textarea [id]="field.fieldNameCamelCase" [formControlName]="field.fieldNameCamelCase" class="form-control"></textarea>
    </ng-container>

    <ng-container *ngSwitchCase="fieldType.DateTime">
      <label for="field.fieldNameCamelCase">{{field.fieldOption.displayName}}</label>
      <input type="tel" [id]="field.fieldNameCamelCase" [formControlName]="field.fieldNameCamelCase" class="form-control" bsDatepicker>
    </ng-container>

  </ng-container>


</ng-container>