<script type="text/ng-template" id="contenttypes/calltoaction.html">
    <div class="edit-content-preview" ng-show="ecVM.templateMode==='PREVIEW'">
        <a ng-show="ecVM.contentTranslation.contentData.link.linkType==='URL'" href="{{ecVM.contentTranslation.contentData.link.url}}" target="_blank">
            {{ecVM.contentTranslation.contentData.link.linkText}}
        </a> 
    </div>
    <div ng-show="ecVM.templateMode==='EDITCONTENT'">
        <div class="modal-header">
            <h3 class="modal-title">Edit {{ecVM.typeInfo.type}}</h3>
        </div>
        <div class="modal-body">
            <div class="form-group" dev-language-selector selected-locale="ecVM.selectedLocale" change-language="ecVM.changeLanguage()" ng-show="ecVM.currentViewState===ecVM.viewStates.LIST"></div>

            <div class="form-group">
                <label for="txtIconClass">Icon Class</label>
                <input type="text" id="txtIconClass" ng-model="ecVM.contentTranslation.contentData.iconClass" class="form-control" placeholder="Enter icon class">
            </div>

            <div class="form-group">
                <div dev-link-selector label="Link" selected-link="ecVM.contentTranslation.contentData.link" properties="ecVM.properties"></div>
            </div>

        </div>
        <div class="modal-footer">
            <div>
                <button class="btn btn-primary" type="button" ng-click="ecVM.save()" ng-disabled="ecVM.isDetailView">Save</button>
                <button class="btn btn-warning" type="button" ng-click="ecVM.cancel()" ng-disabled="ecVM.isDetailView">Cancel</button>
            </div>
        </div>
    </div>
</script>

