<script type="text/ng-template" id="contenttypes/features.html">
    <div class="edit-content-preview" ng-show="ecVM.templateMode==='PREVIEW'">
        <table class="table table-hover" style="max-height:500px;overflow:auto">
            <thead>
                <tr>
                    <th>S.Nr</th>
                    <th>Title</th>
                </tr>
            </thead>
            <tbody ng-model="ecVM.contentTranslation.contentData.items">
                <tr ng-repeat="item in ecVM.contentTranslation.contentData.items track by item.id | orderBy:item.viewOrder" class="item">
                    <td>{{item.viewOrder}}</td>
                    <td>{{item.title}}</td>
                </tr>
            </tbody>
        </table>
    </div>

    <div class="edit-content" ng-show="ecVM.templateMode==='EDITCONTENT'">
        <div class="modal-header">
            <h3 class="modal-title">Edit {{ecVM.typeInfo.type}}</h3>
        </div>
        <div class="modal-body">
            <div class="form-group" dev-language-selector selected-locale="ecVM.selectedLocale" change-language="ecVM.changeLanguage()" ng-show="ecVM.currentViewState===ecVM.viewStates.LIST"></div>

            <div ng-show="ecVM.currentViewState===ecVM.viewStates.LIST">
                <div class="form-group">
                    <a ng-click="ecVM.newItem()" class="btn btn-primary"><i class="fa fa-plus"></i> Add</a>
                </div>
                <table class="table table-hover content-table" style="max-height:500px;overflow:auto">
                    <thead>
                        <tr>
                            <th>Title</th>
                            <th>Description</th>                            
                            <th>Actions</th>
                        </tr>
                    </thead>
                    <tbody ui-sortable="ecVM.sortableOptions" ng-model="ecVM.contentTranslation.contentData.items">
                        <tr ng-repeat="item in ecVM.contentTranslation.contentData.items track by item.id | orderBy:item.viewOrder" class="item" style="cursor: move;">
                            <td>{{item.title}}</td>
                            <td>{{item.description}}</td>
                            <td class="content-actions">
                                <a ng-click="ecVM.editItem(item)" title="Edit"><i class="fa fa-pencil"></i></a>                            
                                <a ng-click="ecVM.removeItem(item)" title="Delete"><i class="fa fa-trash-o"></i></a>
                            </td>
                        </tr>
                    </tbody>
                </table>
            </div>

            <div ng-show="ecVM.currentViewState===ecVM.viewStates.NEW||ecVM.currentViewState===ecVM.viewStates.EDIT">
                <div class="form-group">
                    <label>Icon</label>
                    <input type="text" ng-model="ecVM.selectedItem.icon" class="form-control" placeholder="Enter icon class">
                </div>
                <div class="form-group">
                    <label>Title</label>
                    <input type="text" ng-model="ecVM.selectedItem.title" class="form-control" placeholder="Enter title">
                </div>
                <div class="form-group">
                    <label>Description</label>
                    <textarea class="form-control" ng-model="ecVM.selectedItem.description" placeholder="Enter description"></textarea>
                </div>
            </div>

        </div>
        <div class="modal-footer">
            <div ng-show="ecVM.currentViewState===ecVM.viewStates.LIST">
                <button class="btn btn-primary" type="button" ng-click="ecVM.save()" ng-disabled="ecVM.isDetailView">Save</button>
                <button class="btn btn-warning" type="button" ng-click="ecVM.cancel()" ng-disabled="ecVM.isDetailView">Cancel</button>
            </div>
            <div ng-show="ecVM.currentViewState===ecVM.viewStates.NEW||ecVM.currentViewState===ecVM.viewStates.EDIT">
                <a class="btn btn-primary" ng-click="ecVM.updateItem()">Save Item</a>
                <a class="btn btn-default" ng-click="ecVM.cancelDetailView()">Back to List</a>
            </div>
        </div>
    </div>
</script>

