<script type="text/ng-template" id="contenttypes/text.html">
    <div class="edit-content-preview" ng-show="ecVM.templateMode==='PREVIEW'">
        <p ng-bind-html="ecVM.contentTranslation.contentData"></p>
    </div>
    <div ng-show="ecVM.templateMode==='EDITCONTENT'">
        <div class="modal-header">
            <h3 class="modal-title">Edit {{ecVM.typeInfo.type}}</h3>
        </div>
        <div class="modal-body">
            <div class="form-group" sd-language-selector selected-locale="ecVM.selectedLocale" change-language="ecVM.changeLanguage()" ng-show="ecVM.currentViewState===ecVM.viewStates.LIST"></div>

            <div class="form-group">
                <textarea class="form-control" ng-model="ecVM.contentTranslation.contentData.content">

                </textarea>
            </div>
        </div>
        <div class="modal-footer">
            <div ng-show="ecVM.currentViewState===ecVM.viewStates.LIST">
                <button class="btn btn-primary" type="button" ng-click="ecVM.save()" ng-disabled="ecVM.isDetailView">Save</button>
                <button class="btn btn-warning" type="button" ng-click="ecVM.cancel()" ng-disabled="ecVM.isDetailView">Cancel</button>
            </div>
            <div ng-show="ecVM.currentViewState===ecVM.viewStates.NEW||ecVM.currentViewState===ecVM.viewStates.EDIT">
                <a class="btn btn-primary" ng-click="ecVM.updateItem()">Update Pane</a>
                <a class="btn btn-default" ng-click="ecVM.cancelDetailView()">Back to List</a>
            </div>
        </div>
    </div>
</script>

