@model LayoutContent
@{
    var properties = Model.PlaceHolder.Properties;

    var colWidthXS = properties.Get("column_width_xs")?.ToString();
    var colWidthS = properties.Get("column_width_s")?.ToString();
    var colWidthM = properties.Get("column_width")?.ToString();
    var colWidthL = properties.Get("column_width_l")?.ToString();
    var colWidthXL = properties.Get("column_width_xl")?.ToString();

    if (string.IsNullOrEmpty(colWidthM))
    {
        colWidthM = "col-md-4";
    }
}
<div class="@colWidthXS @colWidthS @colWidthM @colWidthL @colWidthXL @properties.Get("css_class")">
    @*@Html.Raw(Model.ContentResult)*@
    @Model.ContentResult
</div>