@model LayoutContent
@{
    var properties = Model.PlaceHolder.Properties;
}
<div class="container @properties.Get("cssclass").Value">    
    @*@Html.Raw(Model.ContentResult)*@
    @Model.ContentResult
</div>
