@model LayoutContent
@{ 
    var properties = Model.PlaceHolder.Properties;
}
<section class="@properties.Get("cssclass").Value">    
    @*@Html.Raw(Model.ContentResult)*@
    @Model.ContentResult
</section>
