@model Deviser.Core.Data.Entities.PageContent

@{
    bool isEditMode = false;
    if (ViewData["isEditMode"] != null)
    {
        isEditMode = (bool)ViewData["isEditMode"];
    }
    dynamic typeInfo = JsonConvert.DeserializeObject<dynamic>(Model.TypeInfo);
    var appContext = (AppContext)ViewData["AppContext"];
    var currentCulture = appContext.CurrentCulture.ToString();
    PageContentTranslation contentTranslation = null;
    if (Model.PageContentTranslation != null)
    {
        contentTranslation = Model.PageContentTranslation.FirstOrDefault(t => t.CultureCode == currentCulture);
    }

}

@if (contentTranslation != null)
{
    <div>            
         @Html.Raw(contentTranslation.ContentData)
    </div>
}
else{
    <div>
        Please enter the content
    </div>
}