@model DynamicContent

@inject IScopeService scopeService
@{
    var pageContext = scopeService.PageContext;
    var currentCulture = pageContext.CurrentCulture.ToString();

    dynamic rootObj = Model.Content;
    var videoType = Model.PageContent.Properties.Get("videotype");
}

@if (rootObj != null)
{
    <div class="video-container">
        <a class="video popup-video" href="@rootObj.videoUrl">
            <div class="thumb-text">
                <i class="fa fa-play-circle" aria-hidden="true"></i>
            </div>
            <img src="@rootObj.imageUrl" alt="@rootObj.imageAltText">
        </a>
    </div>
}
else
{
    <div>
        Please enter the content
    </div>
}