@model List<Deviser.Core.Data.Entities.Page>
@inject IScopeService scopeService
@using System.Security.Claims;
@using Deviser.Core.Library;
@using Deviser.Core.Common;
@{
    Layout = null;
    var pageContext = scopeService.PageContext;
}

<ul class="page-breadcrumb">
    @foreach (var page in Model)
    {
        var translation = page.PageTranslation.FirstOrDefault(t => t.Locale == pageContext.CurrentCulture.ToString());
        if (translation != null)
        {
            translation.URL = Globals.SiteRoot + translation.URL;
            <li>
                @if (Model.First() == page)
                {
                    <i class="fa fa-home"></i>
                }

                <a href="@translation.URL">@translation.Name</a>

                @if (Model.Last() != page)
                {
                    <i class="fa fa-angle-right"></i>
                }
            </li>
        }
    }
</ul>