@inject IScopeService scopeService

@{
    var pageContext = scopeService.PageContext;
    var currentLang = pageContext.CurrentCulture.TwoLetterISOLanguageName;
}
<!DOCTYPE html>
<html lang="@currentLang">
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>@ViewData["Title"] - Deviser.WI</title>

    <link rel="apple-touch-icon" sizes="120x120" href="/images/favicons/apple-touch-icon.png">
    <link rel="icon" type="image/png" sizes="32x32" href="/images/favicons/favicon-32x32.png">
    <link rel="icon" type="image/png" sizes="16x16" href="/images/favicons/favicon-16x16.png">
    <link rel="manifest" href="/images/favicons/site.webmanifest">
    <link rel="mask-icon" href="/images/favicons/safari-pinned-tab.svg" color="#5bbad5">
    <meta name="msapplication-TileColor" content="#ec3d28">
    <meta name="theme-color" content="#ffffff">

    <render type="Css"></render>

    <link rel="stylesheet" href="~/css/admin/controlbar.css" asp-append-version="true" />

    <render type="Script" location="Head"></render>
</head>
<body>
    <render type="Script" location="BodyStart"></render>

    @RenderBody()


    @RenderSection("scripts", required: false)
    <render type="Script" location="BodyEnd"></render>
</body>
</html>
