<!DOCTYPE html>
<html>
    <head>
        <meta charset="utf-8" />
        <meta name="viewport" content="width=device-width, initial-scale=1.0" />
        <title>@ViewData["Title"] - Deviser.WI</title>

        <!-- BEGIN GLOBAL MANDATORY STYLES -->
        @*<link href="http://fonts.googleapis.com/css?family=Open+Sans:400,300,600,700&subset=all" rel="stylesheet" type="text/css" />*@
        <link href="~/lib/font-awesome/css/font-awesome.css" rel="stylesheet" />
        
        @*<link href="~/lib/simple-line-icons/css/simple-line-icons.css" rel="stylesheet" />*@
        <link href="~/lib/bootstrap/dist/css/bootstrap.css" rel="stylesheet" />        
        <link href="~/lib/angular-ui-tree/dist/angular-ui-tree.min.css" rel="stylesheet" />
        <link href="~/lib/angular-ui-select/dist/select.css" rel="stylesheet" />
        <!-- END GLOBAL MANDATORY STYLES -->
        <!-- BEGIN THEME GLOBAL STYLES -->
        <link href="~/css/admin/components.css" rel="stylesheet" />
        <link href="~/css/admin/plugins.css" rel="stylesheet" />
        <!-- END THEME GLOBAL STYLES -->
        <!-- BEGIN THEME LAYOUT STYLES -->
        <link href="~/css/admin/layout.css" rel="stylesheet" />
        <link href="~/css/admin/darkblue.css" rel="stylesheet" />
        <link href="~/css/admin/custom.css" rel="stylesheet" />
        <link href="~/css/admin/override.css" rel="stylesheet" />
        <link href="~/css/admin/main.css" rel="stylesheet" />
        <!-- END THEME LAYOUT STYLES -->
    </head>
    <body>
        @RenderBody()
        

        <script src="~/lib/jquery/dist/jquery.js"></script>
        <script src="~/lib/bootstrap/dist/js/bootstrap.js"></script>
        <script src="~/lib/underscore/underscore-min.js"></script>
        <script src="~/js/src/app/underscore-ext.js"></script>
        <script src="~/lib/bootstrap-hover-dropdown/bootstrap-hover-dropdown.js"></script>
        <script src="~/js/admin/app.js"></script>
        <script src="~/js/admin/layout.js"></script>

        <script src="~/lib/angular/angular.js"></script>
        <script src="~/lib/angular-sanitize/angular-sanitize.js"></script>
        <script src="~/lib/angular-ui-router/release/angular-ui-router.js"></script>
        <script src="~/lib/angular-bootstrap/ui-bootstrap.js"></script>
        <script src="~/lib/angular-bootstrap/ui-bootstrap-tpls.js"></script>
        <script src="~/lib/angular-ui-select/dist/select.js"></script>
        <script src="~/lib/angular-ui-tree/dist/angular-ui-tree.js"></script>
        <script src="~/lib/angular-drag-and-drop-lists/angular-drag-and-drop-lists.js"></script>
        <script src="~/lib/ng-password-strength/dist/scripts/ng-password-strength.js"></script>

        <script src="~/js/src/app/sdlib.js"></script>
        <script src="~/js/src/app/layout.js"></script>
        <script src="~/js/src/app/edit.js"></script>
        <script src="~/js/src/app/services.js"></script>
        <script src="~/js/src/app/config.js"></script>
        <script src="~/js/src/app/page-management/app.js"></script>
        <script src="~/js/src/app/user-management/app.js"></script>
        <script src="~/js/src/app/security-roles/app.js"></script>
        <script src="~/js/src/app/language/app.js"></script>
        <script src="~/js/src/app/file-manager/app.js"></script>
        @*<script src="~/js/admin/dashboard.js"></script>*@
        @RenderSection("scripts", required: false)
    </body>
</html>
