<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>@ViewData["Title"] - Deviser.WI</title>


    <!-- Web Fonts -->
    <link rel='stylesheet' type='text/css' href='//fonts.googleapis.com/css?family=Open+Sans:400,300,600&amp;subset=cyrillic,latin'>
    <!-- CSS Global Compulsory -->
    <link rel="stylesheet" href="~/lib/bootstrap/dist/css/bootstrap.css" />
    <link rel="stylesheet" href="~/css/site/style.css">

    <!-- CSS Header and Footer -->
    <link rel="stylesheet" href="~/css/site/header-v6.css">
    <link rel="stylesheet" href="~/css/site/footer-v1.css">

    <!-- CSS Implementing Plugins -->
    <link rel="stylesheet" href="~/css/site/animate.css">
    <link rel="stylesheet" href="~/lib/simple-line-icons/css/simple-line-icons.css">
    <link rel="stylesheet" href="~/lib/font-awesome/css/font-awesome.css" />    
    <link rel="stylesheet" href="~/css/site/jquery.fancybox.css">
    <link rel="stylesheet" href="~/css/site/owl.carousel.css">

    <!-- CSS Theme -->
    <link rel="stylesheet" href="~/css/site/default.css" id="style_color">
    <link rel="stylesheet" href="~/css/site/dark.css">

    <!-- CSS Customization -->
    <link rel="stylesheet" href="~/css/site/custom.css">


    <link rel="stylesheet" href="~/css/admin/controlbar.css" asp-append-version="true" />
    <link rel="stylesheet" href="~/css/site.css" asp-append-version="true" />
</head>
<body class="header-fixed">
    @RenderBody()

    <script src="~/lib/jquery/dist/jquery.js"></script>
    <script src="~/lib/bootstrap/dist/js/bootstrap.js"></script>
    <script src="~/js/site.js" asp-append-version="true"></script>
    @RenderSection("scripts", required: false)
</body>
</html>
