@using System.Security.Claims
@inject IScopeService scopeService
@inject INavigation navigation
@{
    var pageContext = scopeService.PageContext;
}

@if (User.Identity.IsAuthenticated)
{
    <form sd-module="Security" sd-controller="Account" sd-action="LogOut" method="post" id="logoutForm">
        <ul class="login">
            <li>@User.Identity.Name</li>
            <li><button type="submit" class="navbar-link">Log off</button></li>
        </ul>
    </form>
}
else
{
    <ul>
        <li><a class="navbar-link" href="@navigation.NavigateUrl(pageContext.SiteSettingInfo.LoginPageId)">Log in</a></li>
    </ul>
    
}
