@using System.Security.Claims

@if (User.Identity.IsAuthenticated)
{
    <form sd-module="Security" sd-controller="Account" sd-action="LogOff" method="post" id="logoutForm">
        <li><a>Hello @User.Identity.Name!</a></li>        
        <li><button type="submit" class="btn-link navbar-link">Log off</button></li>
    </form>
}
else
{    
    <li><a href="/en-us/login">Log in</a></li>
}
