<script type="text/ng-template" id="app/components/imageManager.tpl.html">
    <div class="image-manager">
        <div class="form-group">
            <div class="image-preview">
                <img src="{{locVM.src}}" alt="{{locVM.alt}}" ng-show="locVM.src" />
            </div>
            <p ng-show="!locVM.src" class="info bg-info">Select a image</p>
        </div>
        <div class="form-group">
            <button type="button" class="btn btn-primary" ng-click="locVM.showPopup()">Upload/Change Image</button>
            <button type="button" class="btn btn-danger" ng-click="locVM.removeImage()">Remove Image</button>
        </div>
    </div>
</script>

<script type="text/ng-template" id="app/components/imageManagerPopup.tpl.html">
    <div class="modal-header">
        <h3 class="modal-title">Image Manager</h3>
    </div>
    <div class="modal-body">
        <div class="row">
            <div class="col-md-12">
                <div ng-class="{'alert alert-danger':imVM.message.messageType=='error',
                     'alert alert-info':imVM.message.messageType=='info',
                     'alert alert-success':imVM.message.messageType=='success',
                     'alert alert-warning':imVM.message.messageType=='warning'}" role="alert">
                    {{imVM.message.content}}
                </div>
            </div>
        </div>
        <div class="row">
            <div class="col-md-12">
                <div ngf-drop="imVM.onFileSelect($files)" ngf-select="imVM.onFileSelect($files)" ng-model="files" class="drop-box"
                     ngf-drag-over-class="dragover" ngf-multiple="true" ngf-allow-dir="true"
                     accept="image/*"
                     ngf-pattern="'image/*,application/pdf'">Drop images here or click to upload</div>
                <div ngf-no-file-drop>File Drag/Drop is not supported for this browser</div>

                <div class="checkbox" ng-show="!imVM.isNewContent">
                    <label>
                        <input type="checkbox" ng-model="imVM.isReplace"> Replace Image?
                    </label>
                </div>
            </div>
        </div>

        <div class="row">
            <div class="col-md-4 file-list">
                <div class="input-group">
                    <input type="text" class="form-control" placeholder="Search Image" ng-model="imVM.searchText">
                    <span class="input-group-btn">
                        <button class="btn btn-default" type="button">
                            <i class="fa fa-search" aria-hidden="true"></i>
                        </button>
                    </span>
                </div><!-- /input-group -->
                <div class="list-group file-menu">
                    <a class="list-group-item" 
                       ng-repeat="file in imVM.images | filter:imVM.searchText | orderBy:'Name'" 
                       ng-class="{'active':imVM.isActive(file)}" 
                       ng-click="imVM.selectImage(file)">{{file.name}}</a>
                </div>
            </div>
            <div class="col-md-8 image-chooser">
                <div class="row">
                    <!-- Nav tabs -->
                    <ul class="nav nav-tabs" role="tablist">
                        <li role="presentation" ng-class="{'active':imVM.selectedTab==='PREVIEW'}"><a role="tab" ng-click="imVM.selectedTab='PREVIEW'">Preview</a></li>
                        <li role="presentation" ng-class="{'active':imVM.selectedTab==='CROP'}"><a role="tab" ng-click="imVM.selectedTab='CROP'">Crop</a></li>
                    </ul>

                    <!-- Tab panes -->
                    <div class="tab-content">
                        <div role="tabpanel" class="tab-pane" ng-class="{'active':imVM.selectedTab==='PREVIEW'}">
                            <div class="form-group image">
                                <img class="image-preview" ng-src="{{imVM.imageSource}}" />
                            </div>
                            <div class="form-group image-alt">
                                <input type="text" ng-model="imVM.imageAlt" placeholder="Image alt text" class="form-control image-alt-textbox" />
                            </div>
                        </div>
                        <div role="tabpanel" class="tab-pane" ng-class="{'active':imVM.selectedTab==='CROP'}">
                            <div class="form-group">
                                <canvas width="500" height="300" id="canvas"
                                        image-cropper
                                        image="imVM.imageSource"
                                        cropped-image="imVM.croppedImage"
                                        crop-width="imVM.cropWidth" crop-height="imVM.cropHeight"
                                        keep-aspect="true"
                                        touch-radius="30"></canvas>
                            </div>
                            @*<div class="form-group">
                                <img ng-src="{{imVM.croppedImage}}" />
                            </div>*@
                            <div class="form-group">
                                <button type="button" class="btn btn-primary" ng-click="imVM.cropImage()">Crop Image</button>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    </div>
    <div class="modal-footer">
        <button class="btn btn-primary" ng-click="imVM.yes()">OK</button>
        <button class="btn btn-warning" ng-click="imVM.no()">Cancel</button>
    </div>
</script>

<script type="text/ng-template" id="app/components/permissionEditor.tpl.html">
    <div class="modal-header">
        <h3 class="modal-title">{{peVM.label.title}}</h3>
    </div>
    <div class="modal-body">
        <div class="permission-content">
            <table class="table">
                <thead>
                    <tr>
                        <th>
                            Role
                        </th>
                        <th>
                            View
                        </th>
                        <th>
                            Edit
                        </th>
                    </tr>
                </thead>
                <tbody>
                    <tr ng-repeat="role in peVM.roles"
                        ng-class="{'active':role.id === peVM.administratorRoleId}">
                        <td>
                            {{role.name}}
                        </td>
                        <td>
                            <a ng-click="peVM.changeViewPermission(role)">
                                <i class="fa fa-check-square-o"
                                   ng-class="{'fa-square-o':!peVM.isView(role) , 'fa-check-square-o':peVM.isView(role)}"
                                   aria-hidden="true"></i>
                            </a>
                        </td>
                        <td>
                            <a ng-click="peVM.changeEditPermission(role)">
                                <i class="fa fa-check-square-o"
                                   ng-class="{'fa-square-o':!peVM.isEdit(role) , 'fa-check-square-o':peVM.isEdit(role)}"
                                   aria-hidden="true"></i>
                            </a>
                        </td>
                    </tr>
                </tbody>
            </table>
            <div class="row">
                <div class="col-md-6">
                    <div class="form-group">
                        <a ng-click="peVM.inheritViewPermissions=!peVM.inheritViewPermissions">
                            Inherit view permissions
                            <i class="fa fa-check-square-o"
                               ng-class="{'fa-square-o':!peVM.inheritViewPermissions , 'fa-check-square-o':peVM.inheritViewPermissions}"
                               aria-hidden="true"></i>
                        </a>
                    </div>
                </div>
                <div class="col-md-6">
                    <div class="form-group">
                        <a ng-click="peVM.inheritEditPermissions=!peVM.inheritEditPermissions">
                            Inherit edit permissions
                            <i class="fa fa-check-square-o"
                               ng-class="{'fa-square-o':!peVM.inheritEditPermissions , 'fa-check-square-o':peVM.inheritEditPermissions}"
                               aria-hidden="true"></i>
                        </a>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="modal-footer">
        <button class="btn btn-primary" type="button" ng-click="peVM.save()">Save</button>
        <button class="btn btn-warning" type="button" ng-click="peVM.cancel()">Cancel</button>
    </div>
</script>

<script type="text/ng-template" id="app/components/editModule.tpl.html">
    <div class="modal-header">
        <h3 class="modal-title">Module Edit Title</h3>
    </div>
    <div class="modal-body" ng-bind-html="emVM.editView">

    </div>
    <div class="modal-footer">
        <button class="btn btn-warning" type="button" ng-click="emVM.cancel()">Close</button>
    </div>
</script>

<script type="text/ng-template" id="app/components/languageSelector.tpl.html">
    <div class="image-manager">
        <div class="form-group">
            <ui-select ng-model="locVM.selectedLocale" theme="bootstrap" ng-disabled="locVM.languages.length<=0" on-select="locVM.changeLocalLanguage()">
                <ui-select-match placeholder="Coose a language">{{$select.selected.englishName}}</ui-select-match>
                <ui-select-choices repeat="language in locVM.languages | filter: $select.search">
                    <div ng-bind-html="language.englishName | highlight: $select.search"></div>
                    <small ng-bind-html="language.nativeName | highlight: $select.search"></small>
                </ui-select-choices>
            </ui-select>
        </div>
    </div>
</script>