[Oo]bj/
[Bb]in/
TestResults/
.nuget/
*.sln.ide/
_ReSharper.*/
packages/
artifacts/
PublishProfiles/
.vs/
bower_components/
node_modules/
#**/wwwroot/lib/
#**/wwwroot/assets/
debugSettings.json
project.lock.json
*.user
*.suo
*.cache
*.docstates
_ReSharper.*
nuget.exe
*net45.csproj
*net451.csproj
*k10.csproj
*.psess
*.vsp
*.pidb
*.userprefs
*DS_Store
*.ncrunchsolution
*.*sdf
*.ipch
.settings
*.sln.ide
node_modules
**/[Cc]ompiler/[Rr]esources/**/*.js
*log-*.txt
logs
src/Deviser.Core/Deviser.Core.Common/DomainTypes/ModuleActionType_BACKUP_16112.cs
/src/Deviser.WI/Deviser.db
/src/Deviser.WI/installconfig.json
/src/Deviser.WI/DeviserWI.db
/dist
/src/Deviser.Web/wwwroot/lib/angular/angular.min.js.gzip
/src/Deviser.Web/wwwroot/lib/angular-ui-tree/e2e
.github
/src/Deviser.Web/wwwroot/lib/bootstrap/site
/src/Deviser.Web/wwwroot/lib/bootstrap/scss
/src/Deviser.Web/wwwroot/lib/bootstrap/nuget
/src/Deviser.Web/wwwroot/lib/bootstrap/js
/src/Deviser.Web/wwwroot/lib/bootstrap-sass
/src/Deviser.Web/wwwroot/lib/font-awesome/scss
/src/Deviser.Web/wwwroot/lib/font-awesome/less
/src/Deviser.Web/wwwroot/lib/jqueri-ui/ui
/src/Deviser.Web/wwwroot/lib/jqueri-ui/themes
/src/Deviser.Web/wwwroot/lib/jquery/src
/src/Deviser.Web/wwwroot/lib/jquery/external/sizzle
/src/Deviser.Web/wwwroot/lib/jqueri-ui
/src/Deviser.Web/wwwroot/lib/jquery-ui/ui
/src/Deviser.Web/wwwroot/lib/jquery-ui/themes
/src/Deviser.Web/wwwroot/lib/jquery-validation/src
/src/Deviser.Web/wwwroot/lib/jquery-validation/build
/src/Deviser.Web/wwwroot/lib/jquery-validation-unobtrusive/test/webpacktest/src
/src/Deviser.Web/wwwroot/lib/jquery-validation-unobtrusive/src
/src/Deviser.Web/wwwroot/lib/jquery-validation-unobtrusive/version.props
/src/Deviser.Web/wwwroot/lib/jquery-validation-unobtrusive/run.ps1
/src/Deviser.Web/wwwroot/lib/jquery-validation-unobtrusive/README.md
/src/Deviser.Web/wwwroot/lib/jquery-validation-unobtrusive/package.json
/src/Deviser.Web/wwwroot/lib/jquery-validation-unobtrusive/package-lock.json
/src/Deviser.Web/wwwroot/lib/jquery-validation-unobtrusive/Microsoft.jQuery.Unobtrusive.Validation.nuspec
/src/Deviser.Web/wwwroot/lib/jquery-validation-unobtrusive/LICENSE.txt
/src/Deviser.Web/wwwroot/lib/jquery-validation-unobtrusive/gulpfile.js
/src/Deviser.Web/wwwroot/lib/jquery-validation-unobtrusive/CONTRIBUTING.md
/src/Deviser.Web/wwwroot/lib/jquery-validation-unobtrusive/build.msbuild
/src/Deviser.Web/wwwroot/lib/jquery-validation-unobtrusive/build.cmd
/src/Deviser.Web/wwwroot/lib/jquery-validation-unobtrusive/.gitignore
/src/Deviser.Web/wwwroot/lib/jquery-validation-unobtrusive/.gitattributes
/src/Deviser.Web/wwwroot/lib/jquery-validation-unobtrusive/.bower.json
/src/Deviser.Web/wwwroot/lib/jquery-validation-unobtrusive/.appveyor.yml
/src/Deviser.Web/wwwroot/lib/jquery-validation/validation.jquery.json
/src/Deviser.Web/wwwroot/lib/jquery-validation/README.md
/src/Deviser.Web/wwwroot/lib/jquery-validation/package.json
/src/Deviser.Web/wwwroot/lib/jquery-validation/LICENSE.md
/src/Deviser.Web/wwwroot/lib/jquery-validation/Gruntfile.js
/src/Deviser.Web/wwwroot/lib/jquery-validation/CONTRIBUTING.md
/src/Deviser.Web/wwwroot/lib/jquery-validation/changelog.md
/src/Deviser.Web/wwwroot/lib/jquery-validation/bower.json
/src/Deviser.Web/wwwroot/lib/jquery-validation/.bower.json
/src/Deviser.Web/wwwroot/lib/lodash/vendor
/src/Deviser.Web/wwwroot/lib/lodash/test
/src/Deviser.Web/wwwroot/lib/lodash/README.md
/src/Deviser.Web/wwwroot/lib/lodash/perf
/src/Deviser.Web/wwwroot/lib/lodash/package.json
/src/Deviser.Web/wwwroot/lib/lodash/lodash.js
/src/Deviser.Web/wwwroot/lib/lodash/LICENSE
/src/Deviser.Web/wwwroot/lib/lodash/lib
/src/Deviser.Web/wwwroot/lib/lodash/fp
/src/Deviser.Web/wwwroot/lib/lodash/doc
/src/Deviser.Web/wwwroot/lib/lodash/.travis.yml
/src/Deviser.Web/wwwroot/lib/lodash/.markdown-doctest-setup.js
/src/Deviser.Web/wwwroot/lib/lodash/.jscsrc
/src/Deviser.Web/wwwroot/lib/lodash/.gitignore
/src/Deviser.Web/wwwroot/lib/lodash/.gitattributes
/src/Deviser.Web/wwwroot/lib/lodash/.editorconfig
/src/Deviser.Web/wwwroot/lib/lodash/.bower.json
/src/Deviser.Web/wwwroot/lib/magnific-popup/src
/src/Deviser.Web/wwwroot/lib/magnific-popup/README.md
/src/Deviser.Web/wwwroot/lib/magnific-popup/package.json
/src/Deviser.Web/wwwroot/lib/magnific-popup/magnific-popup.jquery.json
/src/Deviser.Web/wwwroot/lib/magnific-popup/LICENSE
/src/Deviser.Web/wwwroot/lib/magnific-popup/Gruntfile.js
/src/Deviser.Web/wwwroot/lib/magnific-popup/composer.json
/src/Deviser.Web/wwwroot/lib/magnific-popup/bower.json
/src/Deviser.Web/wwwroot/lib/magnific-popup/.travis.yml
/src/Deviser.Web/wwwroot/lib/magnific-popup/.jshintrc
/src/Deviser.Web/wwwroot/lib/magnific-popup/.gitignore
/src/Deviser.Web/wwwroot/lib/magnific-popup/.bower.json
/src/Deviser.Web/wwwroot/lib/metisMenu/dist/modules
/src/Deviser.Web/wwwroot/lib/metisMenu/dist/cjs
/src/Deviser.Web/wwwroot/lib/metisMenu/yarn.lock
/src/Deviser.Web/wwwroot/lib/metisMenu/types
/src/Deviser.Web/wwwroot/lib/metisMenu/src
/src/Deviser.Web/wwwroot/lib/metisMenu/rollup.config.js
/src/Deviser.Web/wwwroot/lib/metisMenu/README.md
/src/Deviser.Web/wwwroot/lib/metisMenu/postcss.config.js
/src/Deviser.Web/wwwroot/lib/metisMenu/package.json
/src/Deviser.Web/wwwroot/lib/metisMenu/package.js
/src/Deviser.Web/wwwroot/lib/metisMenu/LICENSE
/src/Deviser.Web/wwwroot/lib/metisMenu/composer.json
/src/Deviser.Web/wwwroot/lib/metisMenu/changelog.md
/src/Deviser.Web/wwwroot/lib/metisMenu/.versions
/src/Deviser.Web/wwwroot/lib/metisMenu/.verb.md
/src/Deviser.Web/wwwroot/lib/metisMenu/.travis.yml
/src/Deviser.Web/wwwroot/lib/metisMenu/.gitignore
/src/Deviser.Web/wwwroot/lib/metisMenu/.gitattributes
/src/Deviser.Web/wwwroot/lib/metisMenu/.eslintrc.json
/src/Deviser.Web/wwwroot/lib/metisMenu/.eslintignore
/src/Deviser.Web/wwwroot/lib/metisMenu/.bower.json
/src/Deviser.Web/wwwroot/lib/metisMenu/.babelrc
/src/Deviser.Web/wwwroot/lib/ng-file-upload/README.md
/src/Deviser.Web/wwwroot/lib/ng-file-upload/LICENSE
/src/Deviser.Web/wwwroot/lib/ng-file-upload/FileAPI.flash.swf
/src/Deviser.Web/wwwroot/lib/ng-file-upload/bower.json
/src/Deviser.Web/wwwroot/lib/ng-file-upload/.versions
/src/Deviser.Web/wwwroot/lib/ng-file-upload/.bower.json
/src/Deviser.Web/wwwroot/lib/photoswipe/src
/src/Deviser.Web/wwwroot/lib/photoswipe/README.md
/src/Deviser.Web/wwwroot/lib/photoswipe/photoswipe.json
/src/Deviser.Web/wwwroot/lib/photoswipe/package.json
/src/Deviser.Web/wwwroot/lib/photoswipe/LICENSE
/src/Deviser.Web/wwwroot/lib/photoswipe/Gruntfile.js
/src/Deviser.Web/wwwroot/lib/photoswipe/component.json
/src/Deviser.Web/wwwroot/lib/photoswipe/bower.json
/src/Deviser.Web/wwwroot/lib/photoswipe/.bower.json
/src/Deviser.Web/wwwroot/lib/rangy/README.md
/src/Deviser.Web/wwwroot/lib/rangy/LICENSE
/src/Deviser.Web/wwwroot/lib/rangy/bower.json
/src/Deviser.Web/wwwroot/lib/rangy/.bower.json
/src/Deviser.Web/wwwroot/lib/simple-line-icons
/src/Deviser.Web/wwwroot/lib/swiper/src
/src/Deviser.Web/wwwroot/lib/swiper/README.md
/src/Deviser.Web/wwwroot/lib/swiper/package.js
/src/Deviser.Web/wwwroot/lib/swiper/package-lock.json
/src/Deviser.Web/wwwroot/lib/swiper/LICENSE
/src/Deviser.Web/wwwroot/lib/swiper/gulpfile.js
/src/Deviser.Web/wwwroot/lib/swiper/CONTRIBUTING.md
/src/Deviser.Web/wwwroot/lib/swiper/composer.json
/src/Deviser.Web/wwwroot/lib/swiper/component.json
/src/Deviser.Web/wwwroot/lib/swiper/CHANGELOG.md
/src/Deviser.Web/wwwroot/lib/swiper/bower.json
/src/Deviser.Web/wwwroot/lib/swiper/Architecture.md
/src/Deviser.Web/wwwroot/lib/swiper/.bower.json
/src/Deviser.Web/wwwroot/lib/textAngular/src
/src/Deviser.Web/wwwroot/lib/textAngular/README.md
/src/Deviser.Web/wwwroot/lib/textAngular/karma-jquery.conf.js
/src/Deviser.Web/wwwroot/lib/textAngular/karma-jqlite.conf.js
/src/Deviser.Web/wwwroot/lib/textAngular/CONTRIBUTING.md
/src/Deviser.Web/wwwroot/lib/textAngular/changelog.md
/src/Deviser.Web/wwwroot/lib/textAngular/bower.json
/src/Deviser.Web/wwwroot/lib/textAngular/.bower.json
/src/Deviser.WI/wwwroot
/src/Deviser.Web/wwwroot/lib/swiper/scripts
/src/Deviser.Web/wwwroot/lib/angular/README.md
/src/Deviser.Web/wwwroot/lib/angular/package.json
/src/Deviser.Web/wwwroot/lib/angular/LICENSE.md
/src/Deviser.Web/wwwroot/lib/angular/index.js
/src/Deviser.Web/wwwroot/lib/angular/bower.json
/src/Deviser.Web/wwwroot/lib/angular/angular-csp.css
/src/Deviser.Web/wwwroot/lib/angular/.bower.json
/src/Deviser.Web/wwwroot/lib/angular-bootstrap/README.md
/src/Deviser.Web/wwwroot/lib/angular-bootstrap/package.json
/src/Deviser.Web/wwwroot/lib/angular-bootstrap/index.js
/src/Deviser.Web/wwwroot/lib/angular-bootstrap/bower.json
/src/Deviser.Web/wwwroot/lib/angular-bootstrap/.npmignore
/src/Deviser.Web/wwwroot/lib/angular-bootstrap/.gitignore
/src/Deviser.Web/wwwroot/lib/angular-bootstrap/.bower.json
/src/Deviser.Web/wwwroot/lib/angular-drag-and-drop-lists/README.md
/src/Deviser.Web/wwwroot/lib/angular-drag-and-drop-lists/LICENSE
/src/Deviser.Web/wwwroot/lib/angular-drag-and-drop-lists/CHANGELOG.md
/src/Deviser.Web/wwwroot/lib/angular-drag-and-drop-lists/bower.json
/src/Deviser.Web/wwwroot/lib/angular-drag-and-drop-lists/.bower.json
/src/Deviser.Web/wwwroot/lib/angular-img-cropper/README.md
/src/Deviser.Web/wwwroot/lib/angular-img-cropper/LICENSE.md
/src/Deviser.Web/wwwroot/lib/angular-img-cropper/bower.json
/src/Deviser.Web/wwwroot/lib/angular-img-cropper/.bower.json
/src/Deviser.Web/wwwroot/lib/angular-sanitize/README.md
/src/Deviser.Web/wwwroot/lib/angular-sanitize/package.json
/src/Deviser.Web/wwwroot/lib/angular-sanitize/LICENSE.md
/src/Deviser.Web/wwwroot/lib/angular-sanitize/bower.json
/src/Deviser.Web/wwwroot/lib/angular-sanitize/angular-sanitize.min.js.map
/src/Deviser.Web/wwwroot/lib/angular-sanitize/.bower.json
/src/Deviser.Web/wwwroot/lib/angular-ui-router/src
/src/Deviser.Web/wwwroot/lib/angular-ui-router/README.md
/src/Deviser.Web/wwwroot/lib/angular-ui-router/LICENSE
/src/Deviser.Web/wwwroot/lib/angular-ui-router/CONTRIBUTING.md
/src/Deviser.Web/wwwroot/lib/angular-ui-router/CHANGELOG.md
/src/Deviser.Web/wwwroot/lib/angular-ui-router/bower.json
/src/Deviser.Web/wwwroot/lib/angular-ui-router/.bower.json
/src/Deviser.Web/wwwroot/lib/angular-ui-select/README.md
/src/Deviser.Web/wwwroot/lib/angular-ui-select/package.json
/src/Deviser.Web/wwwroot/lib/angular-ui-select/LICENSE
/src/Deviser.Web/wwwroot/lib/angular-ui-select/index.js
/src/Deviser.Web/wwwroot/lib/angular-ui-select/docs
/src/Deviser.Web/wwwroot/lib/angular-ui-select/deploy-docs.sh
/src/Deviser.Web/wwwroot/lib/angular-ui-select/CONTRIBUTING.md
/src/Deviser.Web/wwwroot/lib/angular-ui-select/composer.json
/src/Deviser.Web/wwwroot/lib/angular-ui-select/CHANGELOG.md
/src/Deviser.Web/wwwroot/lib/angular-ui-select/bower.json
/src/Deviser.Web/wwwroot/lib/angular-ui-select/.bower.json
/src/Deviser.Web/wwwroot/lib/angular-ui-sortable/bower.json
/src/Deviser.Web/wwwroot/lib/angular-ui-sortable/.travis.yml
/src/Deviser.Web/wwwroot/lib/angular-ui-sortable/.bower.json
/src/Deviser.Web/wwwroot/lib/angular-ui-tree/README.md
/src/Deviser.Web/wwwroot/lib/angular-ui-tree/protractor.conf.js
/src/Deviser.Web/wwwroot/lib/angular-ui-tree/LICENSE
/src/Deviser.Web/wwwroot/lib/angular-ui-tree/index.js
/src/Deviser.Web/wwwroot/lib/angular-ui-tree/CHANGELOG.md
/src/Deviser.Web/wwwroot/lib/angular-ui-tree/bower.json
/src/Deviser.Web/wwwroot/lib/angular-ui-tree/.travis.yml
/src/Deviser.Web/wwwroot/lib/angular-ui-tree/.jshintrc
/src/Deviser.Web/wwwroot/lib/angular-ui-tree/.jscsrc
/src/Deviser.Web/wwwroot/lib/angular-ui-tree/.gitignore
/src/Deviser.Web/wwwroot/lib/angular-ui-tree/.bowerrc
/src/Deviser.Web/wwwroot/lib/angular-ui-tree/.bower.json
/src/Deviser.Web/wwwroot/lib/bootstrap/build
/src/Deviser.Web/wwwroot/lib/bootstrap/_config.yml
/src/Deviser.Web/wwwroot/lib/bootstrap/sache.json
/src/Deviser.Web/wwwroot/lib/bootstrap/README.md
/src/Deviser.Web/wwwroot/lib/bootstrap/package.json
/src/Deviser.Web/wwwroot/lib/bootstrap/package.js
/src/Deviser.Web/wwwroot/lib/bootstrap/package-lock.json
/src/Deviser.Web/wwwroot/lib/bootstrap/LICENSE
/src/Deviser.Web/wwwroot/lib/bootstrap/Gemfile.lock
/src/Deviser.Web/wwwroot/lib/bootstrap/Gemfile
/src/Deviser.Web/wwwroot/lib/bootstrap/composer.json
/src/Deviser.Web/wwwroot/lib/bootstrap/CODE_OF_CONDUCT.md
/src/Deviser.Web/wwwroot/lib/bootstrap/CNAME
/src/Deviser.Web/wwwroot/lib/bootstrap/.travis.yml
/src/Deviser.Web/wwwroot/lib/bootstrap/.stylelintrc
/src/Deviser.Web/wwwroot/lib/bootstrap/.stylelintignore
/src/Deviser.Web/wwwroot/lib/bootstrap/.gitignore
/src/Deviser.Web/wwwroot/lib/bootstrap/.gitattributes
/src/Deviser.Web/wwwroot/lib/bootstrap/.eslintrc.json
/src/Deviser.Web/wwwroot/lib/bootstrap/.eslintignore
/src/Deviser.Web/wwwroot/lib/bootstrap/.editorconfig
/src/Deviser.Web/wwwroot/lib/bootstrap/.browserslistrc
/src/Deviser.Web/wwwroot/lib/bootstrap/.bower.json
/src/Deviser.Web/wwwroot/lib/bootstrap/.babelrc.js
/src/Deviser.Web/wwwroot/lib/font-awesome/HELP-US-OUT.txt
/src/Deviser.Web/wwwroot/lib/font-awesome/bower.json
/src/Deviser.Web/wwwroot/lib/font-awesome/.npmignore
/src/Deviser.Web/wwwroot/lib/font-awesome/.gitignore
/src/Deviser.Web/wwwroot/lib/font-awesome/.bower.json
/src/Deviser.Web/wwwroot/lib/jquery/README.md
/src/Deviser.Web/wwwroot/lib/jquery/LICENSE.txt
/src/Deviser.Web/wwwroot/lib/jquery/bower.json
/src/Deviser.Web/wwwroot/lib/jquery/AUTHORS.txt
/src/Deviser.Web/wwwroot/lib/jquery/.bower.json
/src/Deviser.Web/wwwroot/lib/jquery-ui/README.md
/src/Deviser.Web/wwwroot/lib/jquery-ui/package.json
/src/Deviser.Web/wwwroot/lib/jquery-ui/composer.json
/src/Deviser.Web/wwwroot/lib/jquery-ui/component.json
/src/Deviser.Web/wwwroot/lib/jquery-ui/bower.json
/src/Deviser.Web/wwwroot/lib/jquery-ui/.gitignore
/src/Deviser.Web/wwwroot/lib/jquery-ui/.bower.json
/src/DeviserApp/wwwroot/assets/images
