<div class="preview-container">
    <div class="non-list" *ngIf="!isList">
        <div *ngIf="content">
            <div *ngFor="let field of fields" >
                <ng-container *ngTemplateOutlet="previewFieldSelector, context:{content:content, field:field}">
                </ng-container>
            </div>
        </div>
        <div *ngIf="!content">
            No contents! Click edit button to add some contents.
        </div>
    </div>
    <div class="list" *ngIf="isList">
        <table class="table table-hover" style="max-height:500px;overflow:auto" *ngIf="content.items && content.items.length > 0">
            <thead>
                <tr>
                    <th *ngFor="let field of fields">{{(field.fieldLabel || field.fieldName)}}</th>
                </tr>
            </thead>
            <tbody>
                <tr *ngFor="let item of content.items" class="item">
                    <td *ngFor="let field of fields">                    
                        <ng-container *ngTemplateOutlet="previewFieldSelector, context:{content:item, field:field}">
                        </ng-container>
                    </td>
                </tr>
            </tbody>
        </table>
        <div *ngIf="!content.items || content.items.length <= 0">
            No contents! Click edit button to add some contents.
        </div>
    </div>
</div>

<ng-template #previewFieldSelector let-content="content" let-field="field">
    <ng-container [ngSwitch]="field.contentFieldType.name" *ngIf="content[field.fieldName]">
        <ng-container *ngSwitchCase="'Textarea'">
            <div [innerHtml]="content[field.fieldName] | sanitizeHtml"></div>
        </ng-container>
        <ng-container *ngSwitchCase="'RichText'">
            <div [innerHtml]="content[field.fieldName] | sanitizeHtml"></div>
        </ng-container>
        <ng-container *ngSwitchCase="'Date'">
            {{content[field.fieldName]}}
        </ng-container>
        <ng-container *ngSwitchCase="'Link'">
            <a [href]="getLinkUrl(content[field.fieldName])" target="_blank">
                {{content[field.fieldName].linkText}}
            </a>
        </ng-container>
        <ng-container *ngSwitchCase="'Attachment'">
            <a [href]="content[field.fieldName].filePath" target="_blank">
                {{content[field.fieldName].fileName}}
            </a>
        </ng-container>
        <ng-container *ngSwitchCase="'Text'">
            <div [innerHtml]="content[field.fieldName] | sanitizeHtml"></div>
        </ng-container>
        <ng-container *ngSwitchCase="'Image'">
            <img *ngIf="content[field.fieldName].imageUrl" [src]="getImageUrl(content[field.fieldName])"
                alt="content[field.fieldName].imageAltText">
        </ng-container>
    </ng-container>
</ng-template>


<!-- <pre>
    {{content | json}}
</pre> -->