@using OAuthMVC.Views.Manage
@inject SignInManager<Deviser.Core.Data.Entities.User> SignInManager
@{
    var hasExternalLogins = (await SignInManager.GetExternalAuthenticationSchemesAsync()).Any();
}

<div class="nav flex-column nav-pills" id="v-pills-tab" role="tablist" aria-orientation="vertical">
    <a class="nav-link @ManageNavPages.IndexNavClass(ViewContext)" dev-module="Security" dev-action="Index">Profile</a>
    <a class="nav-link @ManageNavPages.ChangePasswordNavClass(ViewContext)" dev-module="Security" dev-action="ChangePassword">Password</a>
    @if (hasExternalLogins)
    {
        <a class="nav-link @ManageNavPages.ExternalLoginsNavClass(ViewContext)" dev-module="Security" dev-action="ExternalLogins">External logins</a>
    }
    <a class="nav-link @ManageNavPages.TwoFactorAuthenticationNavClass(ViewContext)" dev-module="Security" dev-action="TwoFactorAuthentication">Two-factor authentication</a>
</div>

