
@{
    Layout = "_InstallLayout";
    ViewData["Title"] = "License";
}

<h2>Deviser Platform - Installation</h2>
<hr />
<div class="row">
    <div class="col-md-12">
        <p>Deviser Platform has been successfully installed. Your website is ready.</p>
        <p>
            <a class="btn btn-primary" asp-action="Index" asp-controller="Page">View Website</a>
        </p>
    </div>
</div>


