@model ForgotPasswordViewModel
@{
    ViewData["Title"] = "Forgot your password?";
    Layout = "~/Sites/Default/Themes/Skyline/ModuleDefault.cshtml";
}

<div class="login-container">    
    <div class="row align-items-stretch">
        <div class="col-5">
            <h2>@ViewData["Title"]</h2>            
            <form sd-module="Security" sd-controller="Account" sd-action="ForgotPassword" method="post" class="sd-form form-horizontal">
                <div asp-validation-summary="All" class="text-danger"></div>
                <div class="form-group">
                    <label>Enter your email</label>
                    <input asp-for="Email" class="form-control" />
                    <span asp-validation-for="Email" class="text-danger"></span>
                </div>
                <button type="submit" class="btn btn-primary">Submit</button>
            </form>
        </div>
    </div>
</div>
@section Scripts {
    @await Html.PartialAsync("_ValidationScriptsPartial")
}
