@model ResetPasswordViewModel
@{
    ViewData["Title"] = "Reset password";
    Layout = "~/Sites/Default/Themes/Skyline/ModuleDefault.cshtml";
}
<div class="security-container">
    <div class="row d-flex justify-content-center align-items-stretch">
        <div class="col-md-6">
            <h2>@ViewData["Title"]</h2>
            <form dev-module="Security" dev-controller="Account" dev-action="ResetPassword" method="post" class="form-horizontal">
                <div asp-validation-summary="All" class="text-danger"></div>
                <input asp-for="Code" type="hidden" />
                <div class="form-group">
                    <label asp-for="Email"></label>
                    <input asp-for="Email" class="form-control" />
                    <span asp-validation-for="Email" class="text-danger"></span>
                </div>
                <div class="form-group">
                    <label asp-for="Password"></label>
                    <input asp-for="Password" class="form-control" />
                    <span asp-validation-for="Password" class="text-danger"></span>
                </div>
                <div class="form-group">
                    <label asp-for="ConfirmPassword"></label>
                    <input asp-for="ConfirmPassword" class="form-control" />
                    <span asp-validation-for="ConfirmPassword" class="text-danger"></span>
                </div>
                <button type="submit" class="btn btn-primary">Reset</button>
            </form>
        </div>
    </div>
</div>
    @section Scripts {
        @await Html.PartialAsync("_ValidationScriptsPartial")
    }
