<div class="row" *ngIf="formContext.formConfig && formContext.formConfig.fieldConfig && formContext.formConfig.fieldConfig.fields">
  <div class="col">

    <app-form-control [form]="formContext.formGroup" [field]="formContext.keyField" [formName]="formContext.formName"></app-form-control>
    

    <div *ngFor="let fieldRow of formContext.formConfig.fieldConfig.fields" class="form-row">
      <ng-container *ngFor="let field of fieldRow">
        <fieldset class="form-group col" [disabled]="!isFieldEnabled(field)" *ngIf="isFieldShown(field)">
          <app-form-control [form]="formContext.formGroup" [field]="field" [isShown]="isFieldShown(field)" [formName]="formContext.formName"
            [isDisabled]="!isFieldEnabled(field)" [isValidate]="isFieldValidate(field)" [lookUps]="formContext.lookUps" [formType]="formContext.formType">
          </app-form-control>
          <!-- <pre>{{field|json}}</pre> -->
        </fieldset>
      </ng-container>

    </div>

  </div>
</div>