/***
Page Header
***/
.sd-controlbar.page-header.navbar {
    width: 100%;
    /*padding: 0 20px 0 20px;*/
    margin: 0;
    border: 0;
    padding: 0;
    box-shadow: none;
    height: 46px;
    min-height: 46px;
    filter: none;
    background-image: none;
    background-color: #2b3643;
}

    .sd-controlbar.page-header.navbar .top-menu {
        margin: 0;
        padding: 0;
        float: right;
    }

        .sd-controlbar.page-header.navbar .top-menu .navbar-nav {
            padding: 0;
            margin-right: 20px;
            display: block;
        }

            .sd-controlbar.page-header.navbar .top-menu .navbar-nav > li.dropdown {
                margin: 0;
                padding: 0 4px;
                height: 46px;
                display: inline-block;
            }

                .sd-controlbar.page-header.navbar .top-menu .navbar-nav > li.dropdown > .dropdown-toggle {
                    margin: 0;
                    padding: 17px 10px 9px 10px;
                }

                .sd-controlbar.page-header.navbar .top-menu .navbar-nav > li.dropdown > a {
                    display: inline-block;
                    font-size: 13px;
                    font-weight: 300;
                    color: #79869a;
                }

                    .sd-controlbar.page-header.navbar .top-menu .navbar-nav > li.dropdown > a span {
                        display: inline-block;
                        font-size: 13px;
                        font-weight: 300;
                        color: #c6cfda;
                    }

                .sd-controlbar.page-header.navbar .top-menu .navbar-nav > li.dropdown > .dropdown-toggle > i {
                    font-size: 17px;
                    color: #79869a;
                }

                .sd-controlbar.page-header.navbar .top-menu .navbar-nav > li.dropdown > .dropdown-toggle:focus {
                    background: 0 0;
                }

                .sd-controlbar.page-header.navbar .top-menu .navbar-nav > li.dropdown .dropdown-toggle:hover,
                .sd-controlbar.page-header.navbar .top-menu .navbar-nav > li.dropdown.open .dropdown-toggle {
                    background-color: #3f4f62;
                }



.sd-controlbar.page-header .top-menu .dropdown-quick-sidebar-toggler > .dropdown-toggle i {
    top: 0;
}
