.page-header .top-menu .dropdown-quick-sidebar-toggler > .dropdown-toggle i:before {
    content: inherit;
}

.top-menu .navbar-nav>li.dropdown a:hover{
    /*background-color: #3f4f62;*/
}

.top-menu .navbar-nav>li.dropdown>a span{
    display: inline-block;
    font-size: 13px;
    font-weight: 300;
    color: #c6cfda;
}

