.box {
    margin-bottom: 20px;
    background-color: #fff;
    border: 1px solid transparent;
    border-radius: 4px;
    -webkit-box-shadow: 0 1px 2px rgba(0,0,0,.05);
    box-shadow: 0 1px 2px rgba(0,0,0,.05);
}

.box-layout {
    margin-bottom: 20px;
    background-color: #fff;
    border: 1px dashed transparent;
    border-radius: 4px;
    -webkit-box-shadow: 0 1px 2px rgba(0,0,0,.05);
    box-shadow: 0 1px 2px rgba(0,0,0,.05);
}

    .box > h3, .box-layout > h3 {
        color: #333;
        border-color: #ddd;
        border-bottom: 1px solid transparent;
        border-top-right-radius: 3px;
        border-top-left-radius: 3px;
        background-repeat: repeat-x;
        display: block;
        font-size: 16px;
        padding: 10px 15px;
        margin-top: 0;
        margin-bottom: 0;
    }

    .box-layout > h3{
        padding: 5px 10px;
    }

.box-padding {
    padding: 15px;
}

    .box-padding > h3 {
        margin: -15px;
        margin-bottom: 15px;
    }

.box-grey {
    border-color: #ddd;
}

    .box-grey > h3 {
        background-color: #f5f5f5;
        background-image: -webkit-linear-gradient(top,#f5f5f5 0,#e8e8e8 100%);
        background-image: linear-gradient(to bottom,#f5f5f5 0,#e8e8e8 100%);
    }

.box-blue {
    border-color: #bce8f1;
}

    .box-blue > h3 {
        color: #31708f;
        background-color: #d9edf7;
        border-color: #bce8f1;
        background-image: -webkit-linear-gradient(top,#d9edf7 0,#c4e3f3 100%);
        background-image: linear-gradient(to bottom,#d9edf7 0,#c4e3f3 100%);
    }

.box-yellow {
    border-color: #faebcc;
}

    .box-yellow > h3 {
        color: #8a6d3b;
        background-color: #fcf8e3;
        border-color: #faebcc;
        background-image: -webkit-linear-gradient(top,#fcf8e3 0,#faf2cc 100%);
        background-image: linear-gradient(to bottom,#fcf8e3 0,#faf2cc 100%);
    }



/***************************** Required styles *****************************/

/**
 * For the correct positioning of the placeholder element, the dnd-list and
 * it's children must have position: relative
 */
.nestedDemo ul[dnd-list],
.nestedDemo ul[dnd-list] > li {
    position: relative;
}

/***************************** Dropzone Styling *****************************/

/**
 * The dnd-list should always have a min-height,
 * otherwise you can't drop to it once it's empty
 */
.dnd-list, .nestedDemo .dropzone ul[dnd-list] {
    min-height: 42px;
    margin: 0px;
    padding-left: 0px;
}

/**
 * The dnd-lists's child elements currently MUST have
 * position: relative. Otherwise we can not determine
 * whether the mouse pointer is in the upper or lower
 * half of the element we are dragging over. In other
 * browsers we can use event.offsetY for this.
 */
.nestedDemo .dropzone li {
    background-color: #fff;
    border: 1px solid #ddd;
    display: block;
    padding: 0px;
}

/**
 * Reduce opacity of elements during the drag operation. This allows the user
 * to see where he is dropping his element, even if the element is huge. The
 * .dndDragging class is automatically set during the drag operation.
 */
.nestedDemo .dropzone .dndDragging {
    opacity: 0.7;
}

/**
 * The dndDraggingSource class will be applied to the source element of a drag
 * operation. It makes sense to hide it to give the user the feeling that he's
 * actually moving it. Note that the source element has also .dndDragging class.
 */
.nestedDemo .dropzone .dndDraggingSource {
    display: none;
}

/**
 * An element with .dndPlaceholder class will be added as child of the dnd-list
 * while the user is dragging over it.
 */
.nestedDemo .dropzone .dndPlaceholder {
    background-color: #ddd;
    min-height: 30px;
    display: block;
    position: relative;
}

/***************************** Element Selection *****************************/

.nestedDemo .dropzone .selected .item {
    color: #3c763d;
    background-color: #dff0d8;
}

.nestedDemo .dropzone .selected .box {
    border-color: #d6e9c6;
}

    .nestedDemo .dropzone .selected .box > h3 {
        color: #3c763d;
        background-color: #dff0d8;
        background-image: linear-gradient(to bottom,#dff0d8 0,#d0e9c6 100%);
        border-color: #d6e9c6;
    }

/***************************** Element type specific styles *****************************/

.nestedDemo .dropzone .item {
    padding: 10px 15px;
}

.nestedDemo .dropzone .container-element {
    margin: 10px;
}

    .nestedDemo .dropzone .container-element .column {
        float: left;
        width: 50%;
    }

/***************************** Toolbox *****************************/

.nestedDemo .toolbox ul {
    list-style: none;
    padding-left: 0px;
    cursor: move;
}

.nestedDemo .toolbox button {
    margin: 5px;
    width: 123px;
    opacity: 1.0;
}

.nestedDemo .toolbox .dndDragging {
    opacity: 0.5;
}

.nestedDemo .toolbox .dndDraggingSource {
    opacity: 1.0;
}

/***************************** Trashcan *****************************/

.nestedDemo .trashcan ul {
    list-style: none;
    padding-left: 0px;
}

.nestedDemo .trashcan img {
    width: 100%;
    -webkit-filter: grayscale(100%);
    -moz-filter: grayscale(100%);
    filter: grayscale(100%);
}

.nestedDemo .trashcan .dndDragover img {
    width: 100%;
    -webkit-filter: none;
    -moz-filter: none;
    filter: none;
}

.nestedDemo .trashcan .dndPlaceholder {
    display: none;
}


.content-item {
    background-color: #fff;
    border: 1px;
    display: block;
    padding: 0;
}

.trashcan ul {
    font-size: 5em;
    text-align: center;
}

/*Angular Tree*/
.tree-node {
    /*background: #f8faff;*/
    /*border: 1px solid #dae2ea;*/
    color: #7c9eb2;
    /*padding: 10px 10px;*/
}

.angular-ui-tree-nodes .angular-ui-tree-nodes {
    padding-left: 30px;
}

.draggable-content.selected {
    border-color: #3598dc;
    background-image: none;
    background-color: #3598dc;
    color: #FFFFFF;
}

.draggable-bar-container {
    position: absolute;
    margin: 0;
    left: 0;
    top: 0;
    cursor: move;
    width: 30px;
    vertical-align: middle;
    padding: 4px;
    height: 30px;
    border: 1px solid #aaa;
    background: #ddd;
}

.draggable-content {
    display: block;
    height: 30px;
    margin: 5px 0;
    padding: 4px 10px 4px 40px;
    color: #333;
    text-decoration: none;
    font-weight: 400;
    border: 1px solid #ccc;
    /*background: #fafafa;*/
    -webkit-border-radius: 3px;
    border-radius: 3px;
    box-sizing: border-box;
}

.angular-ui-tree-placeholder {
    display: block;
    position: relative;
    margin: 0;
    padding: 0;
    min-height: 20px;
    font-size: 13px;
    line-height: 20px;
    margin: 5px 0;
    padding: 0;
    min-height: 30px;
    background: #f2fbff;
    border: 1px dashed #b6bcbf;
    box-sizing: border-box;
    -moz-box-sizing: border-box;
}

/*.tree-node:hover {
  color: #438eb9;
  background: #f4f6f7;
  border-color: #dce2e8;
}
.ui-tree div.selected {
  background: #337ab7;
  color: #fff;
}
.angular-ui-tree-placeholder {
  background: #f0f9ff;
  border: 2px dashed #bed2db;
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
}
.group-title {
  background-color: #687074 !important;
  color: #FFF !important;
}
.draggable-bar {
  padding: 2px 10px 0px 0px;
}*/

/*Form elements*/
div.edit-page.form-horizontal .control-label {
    text-align: left;
}

.logged-in {
    margin-top: 46px;
}