/*
    font-family: 'Open Sans', sans-serif;

    font-family: 'Lato', sans-serif;

    font-family: 'Titillium Web', sans-serif;
*/


/*Site CSS*/
div,
svg,
input,
select,
textarea,
span,
img,
table,
label,
td,
th,
p,
a,
button,
ul,
code,
pre,
li {
    -webkit-border-radius: 0 !important;
    -moz-border-radius: 0 !important;
    border-radius: 0 !important;
}

/* except below bootstrap elements */
.img-circle {
    border-radius: 50% !important;
}

.img-rounded {
    border-radius: 6px !important;
}

/***
General reset
***/
/* Set default body */
body {
    font-family: "Open Sans", sans-serif;
    padding: 0px !important;
    margin: 0px !important;
    direction: "ltr";
    font-size: 14px;
}

/*
 Internet Explorer 10 doesn't differentiate device width from viewport width, and thus doesn't 
 properly apply the media queries in Bootstrap's CSS. To address this, 
 you can optionally include the following CSS and JavaScript to work around this problem until Microsoft issues a fix.
*/
@-webkit-viewport {
    width: device-width;
}

@-moz-viewport {
    width: device-width;
}

@-ms-viewport {
    width: device-width;
}

@-o-viewport {
    width: device-width;
}

@viewport {
    width: device-width;
}

a {
    font-family: 'Lato', sans-serif;
}

/*Nav*/
.navbar-brand {
    height: 100px;
    padding:0;
}

    .navbar-brand > img {
        height: 40px;
        margin-top: 30px;
    }

@media (min-width: 768px) {
    .navbar-fixed-top {
        -webkit-transition: padding 0.3s;
        -moz-transition: padding 0.3s;
        transition: padding 0.3s;
    }

        .navbar-fixed-top .navbar-brand {
            font-size: 2em;
            -webkit-transition: all 0.3s;
            -moz-transition: all 0.3s;
            transition: all 0.3s;
        }

        .navbar-fixed-top.navbar-shrink {
            padding: 10px 0;
        }

            .navbar-fixed-top.navbar-shrink .navbar-brand {
                font-size: 1.5em;
            }
}

.navbar {
    text-transform: uppercase;
    margin-bottom: 0;
}

    .navbar .nav {
        font-weight: 700;
    }

    .navbar li a {
        color: #777;
    }

        .navbar li a.active {
            color: #333;
            font-weight: 700;
            text-decoration: underline;
        }

    .navbar a:focus {
        outline: none;
    }

    .navbar .navbar-nav {
        letter-spacing: 1px;
    }

        .navbar .navbar-nav li a:focus {
            outline: none;
        }

.navbar-default,
.navbar-inverse {
    border: none;
}

.header-top {
    margin-top: 6px;
    width: calc(100% - 300px);
}

    .header-top ul {
        list-style: none;
    }

        .header-top ul li {
            display: inline;
        }

            .header-top ul li a {
                font-size: 0.9em;
            }

.login li, .language-switcher li {
    display: inline-block;
    padding: 0 0 0 10px;
    color: inherit;
}

    .login li a {
        text-transform: none;
    }

.form-horizontal .form-group {
    margin-left: 0;
    margin-right: 0;
}

.input-validation-error {
    border-color: #a94442;
}

/*Dropdown menu*/
.dropdown:hover .dropdown-menu {
    display: block;
}

.page-content {
    margin-top: 100px;
}

/* CUSTOMIZE THE CAROUSEL
-------------------------------------------------- */

/* Carousel base class */
.carousel {
    height: 500px;
    margin-bottom: 60px;
}
/* Since positioning the image, we need to help out the caption */
.carousel-caption {
    z-index: 10;
}

/* Declare heights because of positioning of img element */
.carousel .item {
    height: 500px;
    background-color: #777;
}

.carousel-inner > .item > img {
    position: absolute;
    top: 0;
    left: 0;
    min-width: 100%;
    height: 500px;
}

/*Video conent type*/
.video-container {
    position: relative;
}

    .video-container img {
        width: 100%;
    }

    .video-container .thumb-text {
        position: absolute;
        padding: 16% 44%;
        font-size: 6em;
        color: #545454;
    }

/*Tabs*/
.tab-pane {
    border-left: 1px solid #ddd;
    border-right: 1px solid #ddd;
    border-bottom: 1px solid #ddd;
    padding: 10px;
}

.nav-tabs {
    margin-bottom: 0;
}

/*Teaser box*/
.my-4 {
    margin-bottom: 1.5rem !important;
    margin-top: 1.5rem !important;
}

.card {
    height: 100%;
    position: relative;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -ms-flex-direction: column;
    flex-direction: column;
    min-width: 0;
    word-wrap: break-word;
    background-color: #fff;
    background-clip: border-box;
    border: 1px solid rgba(0,0,0,.125);
    border-radius: .25rem;
}

.card-img-top {
    width: 100%;
    border-top-left-radius: calc(.25rem - 1px);
    border-top-right-radius: calc(.25rem - 1px);
}

.card-body {
    -webkit-box-flex: 1;
    -ms-flex: 1 1 auto;
    flex: 1 1 auto;
    padding: 1.25rem;
}

.card-title {
    margin-bottom: .75rem;
}
.card-text:last-child {
    margin-bottom: 0;
}


.map-container {
    height: 500px;
}


/*Swiper*/
.swiper-container {
    width: 100%;
    height: 40vh;
    margin-left: auto;
    margin-right: auto;
}

.swiper-slide {
    text-align: center;
    font-size: 18px;
    background: #fff;
    /* Center slide text vertically */
    display: -webkit-box;
    display: -ms-flexbox;
    display: -webkit-flex;
    display: flex;
    -webkit-box-pack: center;
    -ms-flex-pack: center;
    -webkit-justify-content: center;
    justify-content: center;
    -webkit-box-align: center;
    -ms-flex-align: center;
    -webkit-align-items: center;
    align-items: center;
}

    .swiper-slide img {
        width: 100%;
    }

    .swiper-slide .caption {
        right: 20%;
        left: 20%;
        padding-bottom: 30px;
    }

    .swiper-slide .caption {
        position: absolute;
        right: 15%;
        bottom: 20px;
        left: 15%;
        z-index: 10;
        padding-top: 20px;
        padding-bottom: 20px;
        color: #fff;
        text-align: center;
    }

.swiper-pagination-bullet-active {
    opacity: 1;
    background: #fff;
}
