@{
    ViewData["Title"] = "Index";
    //Layout = "~/_Layout.cshtml";
}

<div ng-app="deviser.siteSettings" ng-controller="SiteSettingsCtrl as ssVM">

    <div class="alert alert-dismissable" ng-class="{'alert-danger':ssVM.message.messageType=='error',
                              'alert-info':ssVM.message.messageType=='info',
                              'alert-success':ssVM.message.messageType=='success',
                              'alert-warning':ssVM.message.messageType=='warning'}" role="alert" ng-show="ssVM.message.messageType">
        {{ssVM.message.content}}
    </div>

    <div class="row" ng-show="ssVM.currentViewState == ssVM.viewStates.LIST">
        <div class="col-md-12">
            <div class="portlet box blue" id="form_wizard_1">
                <div class="portlet-title">
                    <div class="caption">
                        <i class="fa fa-cog" aria-hidden="true"></i> Site Settings
                    </div>
                </div>
                <div class="portlet-body form">
                    <form class="form-horizontal" name="propertyForm" novalidate>
                        <div class="form-body">
                            @*<div class="form-group" ng-class="{'has-error':ssVM.hasError(propertyForm, 'label', 'required')}">
                                <label class="col-md-3 control-label">HomePage</label>
                                <div class="col-md-6">
                                    <input class="form-control" name="HomePageId" ng-model="ssVM.setting.HomePageId.settingValue" required />
                                </div>
                            </div>*@
                            <div class="form-group" >
                                <label class="col-md-3 control-label">Home Page</label>
                                <div class="col-md-6">
                                    <ui-select ng-model="ssVM.setting.HomePageId.settingValue" theme="bootstrap">
                                        <ui-select-match placeholder="Select Page">{{$select.selected.pageName}}</ui-select-match>
                                        <ui-select-choices repeat="page in ssVM.pages | filter: $select.search">
                                            <div ng-bind-html="page.pageName | highlight: $select.search"></div>
                                        </ui-select-choices>
                                    </ui-select>
                                </div>
                            </div>
                            @*<div class="form-group" ng-class="{'has-error':ssVM.hasError(propertyForm, 'label', 'required')}">
                                <label class="col-md-3 control-label">LoginPage</label>
                                <div class="col-md-6">
                                    <input class="form-control" name="LoginPage" ng-model="ssVM.setting.LoginPage.settingValue" required />
                                </div>
                            </div>*@ 
                            <div class="form-group">
                                <label class="col-md-3 control-label">Login Page</label>
                                <div class="col-md-6">
                                    <ui-select ng-model="ssVM.setting.LoginPage.settingValue" theme="bootstrap">
                                        <ui-select-match placeholder="Select Page">{{$select.selected.pageName}}</ui-select-match>
                                        <ui-select-choices repeat="page in ssVM.pages | filter: $select.search">
                                            <div ng-bind-html="page.pageName | highlight: $select.search"></div>
                                        </ui-select-choices>
                                    </ui-select>
                                </div>
                            </div>                
                            @*<div class="form-group" ng-class="{'has-error':ssVM.hasError(propertyForm, 'label', 'required')}">
                                <label class="col-md-3 control-label">Registration Page</label>
                                <div class="col-md-6">
                                    <input class="form-control" name="RegistrationPage" ng-model="ssVM.setting.RegistrationPage.settingValue" required />
                                </div>
                            </div>*@
                            <div class="form-group">
                                <label class="col-md-3 control-label">Registration Page</label>
                                <div class="col-md-6">
                                    <ui-select ng-model="ssVM.setting.RegistrationPage.settingValue" theme="bootstrap">
                                        <ui-select-match placeholder="Select Page">{{$select.selected.pageName}}</ui-select-match>
                                        <ui-select-choices repeat="page in ssVM.pages | filter: $select.search">
                                            <div ng-bind-html="page.pageName | highlight: $select.search"></div>
                                        </ui-select-choices>
                                    </ui-select>
                                </div>
                            </div>
                            <div class="form-group" ng-class="{'has-error':ssVM.hasError(propertyForm, 'label', 'required')}">
                                <label class="col-md-3 control-label">Site Desctiption</label>
                                <div class="col-md-6">
                                    <input class="form-control" name="SiteDesctiption" ng-model="ssVM.setting.SiteDesctiption.settingValue" required />
                                </div>
                            </div>
                            <div class="form-group" ng-class="{'has-error':ssVM.hasError(propertyForm, 'label', 'required')}">
                                <label class="col-md-3 control-label">SMTP Settings</label>
                                <div class="col-md-6">
                                    <input class="form-control" name="SMTPSettings" ng-model="ssVM.setting.SMTPSettings.settingValue" required />
                                </div>
                            </div>
                            <div class="form-group" ng-class="{'has-error':ssVM.hasError(propertyForm, 'label', 'required')}">
                                <label class="col-md-3 control-label">Site Default Layout</label>
                                <div class="col-md-6">
                                    <input class="form-control" name="SiteDefaultLayout" ng-model="ssVM.setting.SiteDefaultLayout.settingValue" required />
                                </div>
                            </div>
                            <div class="form-group" ng-class="{'has-error':ssVM.hasError(propertyForm, 'label', 'required')}">
                                <label class="col-md-3 control-label">SiteDefaultTheme</label>
                                <div class="col-md-6">
                                    <input class="form-control" name="SiteDefaultTheme" ng-model="ssVM.setting.SiteDefaultTheme.settingValue" required />
                                </div>
                            </div>
                            <div class="form-group" ng-class="{'has-error':ssVM.hasError(propertyForm, 'label', 'required')}">
                                <label class="col-md-3 control-label">Site Name</label>
                                <div class="col-md-6">
                                    <input class="form-control" name="SiteName" ng-model="ssVM.setting.SiteName.settingValue" required />
                                </div>
                            </div>
                            <div class="form-group" ng-class="{'has-error':ssVM.hasError(propertyForm, 'label', 'required')}">
                                <label class="col-md-3 control-label">Default Admin LayoutId</label>
                                <div class="col-md-6">
                                    <input class="form-control" name="DefaultAdminLayoutId" ng-model="ssVM.setting.DefaultAdminLayoutId.settingValue" required />
                                </div>
                            </div>
                            <div class="form-group" ng-class="{'has-error':ssVM.hasError(propertyForm, 'label', 'required')}">
                                <label class="col-md-3 control-label">Site Root</label>
                                <div class="col-md-6">
                                    <input class="form-control" name="SiteRoot" ng-model="ssVM.setting.SiteRoot.settingValue" required />
                                </div>
                            </div>
                            @*<div class="form-group" ng-class="{'has-error':ssVM.hasError(propertyForm, 'label', 'required')}">
                                <label class="col-md-3 control-label">Redirect After Logout</label>
                                <div class="col-md-6">
                                    <input class="form-control" name="RedirectAfterLogout" ng-model="ssVM.setting.RedirectAfterLogout.settingValue" required />
                                </div>
                            </div>*@
                            <div class="form-group">
                                <label class="col-md-3 control-label">Redirect After Logout</label>
                                <div class="col-md-6">
                                    <ui-select ng-model="ssVM.setting.RedirectAfterLogout.settingValue" theme="bootstrap">
                                        <ui-select-match placeholder="Select Page">{{$select.selected.pageName}}</ui-select-match>
                                        <ui-select-choices repeat="page in ssVM.pages | filter: $select.search">
                                            <div ng-bind-html="page.pageName | highlight: $select.search"></div>
                                        </ui-select-choices>
                                    </ui-select>
                                </div>
                            </div>
                            @*<div class="form-group" ng-class="{'has-error':ssVM.hasError(propertyForm, 'label', 'required')}">
                                <label class="col-md-3 control-label">Redirect After Login</label>
                                <div class="col-md-6">
                                    <input class="form-control" name="RedirectAfterLogin" ng-model="ssVM.setting.RedirectAfterLogin.settingValue" required />
                                </div>
                            </div>*@
                            <div class="form-group">
                                <label class="col-md-3 control-label">Redirect After Login</label>
                                <div class="col-md-6">
                                    <ui-select ng-model="ssVM.setting.RedirectAfterLogin.settingValue" theme="bootstrap">
                                        <ui-select-match placeholder="Select Page">{{$select.selected.pageName}}</ui-select-match>
                                        <ui-select-choices repeat="page in ssVM.pages | filter: $select.search">
                                            <div ng-bind-html="page.pageName | highlight: $select.search"></div>
                                        </ui-select-choices>
                                    </ui-select>
                                </div>
                            </div>

                            @*<div class="form-group" ng-class="{'has-error':ssVM.hasError(propertyForm, 'label', 'required')}">
                                <label class="col-md-3 control-label">EnableDisableRegistration</label>
                                <div class="col-md-6">
                                    <input class="form-control" name="EnableDisableRegistration" ng-model="ssVM.setting.EnableDisableRegistration.settingValue" required />
                                </div>
                            </div>*@
                            <div class="form-group">
                                <label class="col-md-3 control-label">Enable/Disable Registration</label>
                                <div class="col-md-6">
                                    <input type="checkbox" ng-model="ssVM.setting.EnableDisableRegistration.settingValue" />
                                </div>
                            </div>
                                                                                  
                                                                                  
                            @*<div class="form-group">
                                <label class="col-md-3 control-label">More Option</label>
                                <div class="col-md-6">
                                    <input type="checkbox" ng-model="ssVM.selectedProperty.moreOption" />
                                </div>
                            </div>
                            <div class="form-group" ng-show="ssVM.selectedProperty.moreOption">
                                <label class="col-md-3 control-label">Option List</label>
                                <div class="col-md-6">
                                    <ui-select ng-model="ssVM.selectedProperty.propertyOptionList" theme="bootstrap"
                                               ng-disabled="ssVM.optionLists.length<=0">
                                        <ui-select-match placeholder="Select option list">{{$select.selected.label}}</ui-select-match>
                                        <ui-select-choices repeat="optionList in ssVM.optionLists | filter: $select.search">
                                            <div ng-bind-html="optionList.label | highlight: $select.search"></div>
                                        </ui-select-choices>
                                    </ui-select>
                                </div>
                            </div>*@
                        </div>
                        <div class="form-actions">
                            <div class="row">
                                <div class="col-md-offset-3 col-md-9">
                                    <button type="submit" class="btn btn-success" ng-click="ssVM.save()" ng-disabled="!ssVM.selectedProperty">Save</button>
                                    <button type="button" class="btn btn-default" ng-click="ssVM.cancel()">Cancel</button>
                                </div>
                            </div>
                        </div>
                    </form>
                </div>
            </div>
        </div>
    </div>
</div>