@import "../../../../../Deviser.Core/Deviser.Admin.Web/ClientApp/node_modules/bootstrap/scss/functions";
@import "variables";
/*@import "admin_variable.scss";*/
@import "../../../../../Deviser.Core/Deviser.Admin.Web/ClientApp/node_modules/bootstrap/scss/mixins";
@import "../../../../../Deviser.Core/Deviser.Admin.Web/ClientApp/node_modules/bootstrap/scss/root";
@import "../../../../../Deviser.Core/Deviser.Admin.Web/ClientApp/node_modules/bootstrap/scss/reboot";
@import "../../../../../Deviser.Core/Deviser.Admin.Web/ClientApp/node_modules/bootstrap/scss/type";
@import "../../../../../Deviser.Core/Deviser.Admin.Web/ClientApp/node_modules/bootstrap/scss/images";
@import "../../../../../Deviser.Core/Deviser.Admin.Web/ClientApp/node_modules/bootstrap/scss/code";
@import "../../../../../Deviser.Core/Deviser.Admin.Web/ClientApp/node_modules/bootstrap/scss/grid";
@import "../../../../../Deviser.Core/Deviser.Admin.Web/ClientApp/node_modules/bootstrap/scss/tables";
@import "../../../../../Deviser.Core/Deviser.Admin.Web/ClientApp/node_modules/bootstrap/scss/forms";
@import "../../../../../Deviser.Core/Deviser.Admin.Web/ClientApp/node_modules/bootstrap/scss/buttons";
@import "../../../../../Deviser.Core/Deviser.Admin.Web/ClientApp/node_modules/bootstrap/scss/transitions";
@import "../../../../../Deviser.Core/Deviser.Admin.Web/ClientApp/node_modules/bootstrap/scss/dropdown";
@import "../../../../../Deviser.Core/Deviser.Admin.Web/ClientApp/node_modules/bootstrap/scss/button-group";
@import "../../../../../Deviser.Core/Deviser.Admin.Web/ClientApp/node_modules/bootstrap/scss/input-group";
@import "../../../../../Deviser.Core/Deviser.Admin.Web/ClientApp/node_modules/bootstrap/scss/custom-forms";
@import "../../../../../Deviser.Core/Deviser.Admin.Web/ClientApp/node_modules/bootstrap/scss/nav";
@import "../../../../../Deviser.Core/Deviser.Admin.Web/ClientApp/node_modules/bootstrap/scss/navbar";
@import "../../../../../Deviser.Core/Deviser.Admin.Web/ClientApp/node_modules/bootstrap/scss/card";
@import "../../../../../Deviser.Core/Deviser.Admin.Web/ClientApp/node_modules/bootstrap/scss/breadcrumb";
@import "../../../../../Deviser.Core/Deviser.Admin.Web/ClientApp/node_modules/bootstrap/scss/pagination";
@import "../../../../../Deviser.Core/Deviser.Admin.Web/ClientApp/node_modules/bootstrap/scss/badge";
@import "../../../../../Deviser.Core/Deviser.Admin.Web/ClientApp/node_modules/bootstrap/scss/jumbotron";
@import "../../../../../Deviser.Core/Deviser.Admin.Web/ClientApp/node_modules/bootstrap/scss/alert";
@import "../../../../../Deviser.Core/Deviser.Admin.Web/ClientApp/node_modules/bootstrap/scss/progress";
@import "../../../../../Deviser.Core/Deviser.Admin.Web/ClientApp/node_modules/bootstrap/scss/media";
@import "../../../../../Deviser.Core/Deviser.Admin.Web/ClientApp/node_modules/bootstrap/scss/list-group";
@import "../../../../../Deviser.Core/Deviser.Admin.Web/ClientApp/node_modules/bootstrap/scss/close";
@import "../../../../../Deviser.Core/Deviser.Admin.Web/ClientApp/node_modules/bootstrap/scss/modal";
@import "../../../../../Deviser.Core/Deviser.Admin.Web/ClientApp/node_modules/bootstrap/scss/tooltip";
@import "../../../../../Deviser.Core/Deviser.Admin.Web/ClientApp/node_modules/bootstrap/scss/popover";
@import "../../../../../Deviser.Core/Deviser.Admin.Web/ClientApp/node_modules/bootstrap/scss/carousel";
@import "../../../../../Deviser.Core/Deviser.Admin.Web/ClientApp/node_modules/bootstrap/scss/utilities";
@import "../../../../../Deviser.Core/Deviser.Admin.Web/ClientApp/node_modules/bootstrap/scss/print";

@import "../../../../../Deviser.Core/Deviser.Admin.Web/ClientApp/node_modules/@ng-select/ng-select/themes/default.theme";
@import "../../../../../Deviser.Core/Deviser.Admin.Web/ClientApp/node_modules/ngx-bootstrap/datepicker/bs-datepicker";
@import "../../../../../Deviser.Core/Deviser.Admin.Web/ClientApp/node_modules/quill/dist/quill.bubble";
@import "../../../../../Deviser.Core/Deviser.Admin.Web/ClientApp/node_modules/quill/dist/quill.snow";


@import "menu/admin-menu.scss"; 

$drag-placeholder-bg-color: theme-color-level("primary", -10);
$drag-placeholder-border-color: theme-color-level("primary", 6);
$action-bar-font-size: 0.84rem;

//#1D2127

html, body {
    height: 100%;
}

.admin-wrapper {
    display: flex !important; 
    min-height: 100vh;
    padding-top: 50px;

    .admin-sidebar {
        /*overflow-y: auto;*/
        background: $dark;
        border-top: 1px solid $gray-700;
        bottom: 0;
        left: 0;
        overflow-x: hidden;
        position: fixed;
        top: 50px;
        width: 280px
    }

    .admin-container {
        margin-left: 280px;
        width: 100%;

        &.  no-menu{
            margin-left:0; 
        }
        .admin-body {
            padding-top: 30px;
            padding-left: 20px;
            padding-bottom: 80px;

            .admin-header {
                margin-bottom: 1rem;
            }
        }

        .admin-footer {
            background: $gray-800;
            bottom: 0;
            padding-top: 20px;
            position: fixed;

            a, p {
                color: $white;
                font-size: 0.9rem;
            }
        }

        .icon {
            &:before {
                background-repeat: no-repeat;
                background-size: 1rem 1rem;
                content: "";
                display: inline-block;
                height: 1rem;
                width: 1rem;
                margin-right: 0.2rem;
            }
        }

        .layouts {
            &:before {
                background-image: url("data:image/svg+xml,<svg version='1.1' xmlns='http://www.w3.org/2000/svg' xmlns:xlink='http://www.w3.org/1999/xlink' xml:space='preserve'><g><path d='M900.9,32.3H99.1c-49.2,0-89.1,40-89.1,89.1v757.3c0,49.2,39.9,89.1,89.1,89.1h801.8c49.2,0,89.1-39.9,89.1-89.1V121.4C990,72.3,950.1,32.3,900.9,32.3z M99.1,370.2h259.7v508.4H99.1V370.2z M447.8,878.6V370.2h453.1v-89.1H99.1V121.4h801.8l0.1,757.3H447.8z'/></g></svg>");
            }
        }

        .page {
            &:before {
                background-image: url("data:image/svg+xml,<svg class='bi bi-file-earmark' width='1em' height='1em' viewBox='0 0 16 16' fill='currentColor' xmlns='http://www.w3.org/2000/svg'><path d='M4 1h5v1H4a1 1 0 00-1 1v10a1 1 0 001 1h8a1 1 0 001-1V6h1v7a2 2 0 01-2 2H4a2 2 0 01-2-2V3a2 2 0 012-2z'/> <path d='M9 4.5V1l5 5h-3.5A1.5 1.5 0 019 4.5z'/></svg>");
            }
        }

        .page-content {
            &:before {
                background-image: url("data:image/svg+xml,<svg class='bi bi-layout-text-window-reverse' width='1em' height='1em' viewBox='0 0 16 16' fill='currentColor' xmlns='http://www.w3.org/2000/svg'><path fill-rule='evenodd' d='M2 1h12a1 1 0 011 1v12a1 1 0 01-1 1H2a1 1 0 01-1-1V2a1 1 0 011-1zm12-1a2 2 0 012 2v12a2 2 0 01-2 2H2a2 2 0 01-2-2V2a2 2 0 012-2h12z' clip-rule='evenodd'/><path fill-rule='evenodd' d='M5 15V4H4v11h1zM.5 4h15V3H.5v1zM13 6.5a.5.5 0 00-.5-.5h-5a.5.5 0 000 1h5a.5.5 0 00.5-.5zm0 3a.5.5 0 00-.5-.5h-5a.5.5 0 000 1h5a.5.5 0 00.5-.5zm0 3a.5.5 0 00-.5-.5h-5a.5.5 0 000 1h5a.5.5 0 00.5-.5z' clip-rule='evenodd'/></svg>");
            }
        }

        .page-module {
            &:before {
                background-image: url("data:image/svg+xml,<svg class='bi bi-layout-wtf' width='1em' height='1em' viewBox='0 0 16 16' fill='currentColor' xmlns='http://www.w3.org/2000/svg'><path fill-rule='evenodd' d='M5 1H1v8h4V1zM1 0a1 1 0 00-1 1v8a1 1 0 001 1h4a1 1 0 001-1V1a1 1 0 00-1-1H1zm13 2H9v5h5V2zM9 1a1 1 0 00-1 1v5a1 1 0 001 1h5a1 1 0 001-1V2a1 1 0 00-1-1H9zM5 13H3v2h2v-2zm-2-1a1 1 0 00-1 1v2a1 1 0 001 1h2a1 1 0 001-1v-2a1 1 0 00-1-1H3zm12-1H9v2h6v-2zm-6-1a1 1 0 00-1 1v2a1 1 0 001 1h6a1 1 0 001-1v-2a1 1 0 00-1-1H9z' clip-rule='evenodd'/></svg>");
            }
        }
    }
}

@import "../../../../../Deviser.Web/ClientApp/src/edit-layout";
@import "../../../../../Deviser.Core/Deviser.Admin.Web/ClientApp/src/deviser-admin";

.admin-container {
    .dev-controlbar {
        svg {
            height: 20px;
            width: 20px;
        }
    }
}