@using System.Security.Claims
@using Deviser.Core.Library.TagHelpers;
@using Deviser.Core.Library;
@using Deviser.Core.Library.Services;
@using Deviser.Core.Common;
@inject IScopeService scopeService
@inject INavigation navigation
@{
    Layout = "~/Views/Shared/_Layout.cshtml";
    var pageContext = scopeService.PageContext;
    var loggedInClass = pageContext.HasPageEditPermission ? "logged-in" : "";
    var pageContentLoggedInClass = pageContext.HasPageEditPermission ? "page-content-logged-in" : "";
}


@await Html.PartialAsync("~/Sites/Default/Themes/Skyline/_SiteHeader.cshtml")

<div class="content-wrapper @pageContentLoggedInClass">
    @RenderBody()
</div>

@await Html.PartialAsync("~/Sites/Default/Themes/Skyline/_SiteFooter.cshtml")


@section Scripts{
    @RenderSection("scripts", required: false)
}