
@{
    Layout = "~/Views/Shared/_AdminLayout.cshtml";
}


<div id="wrapper">
    @await Component.InvokeAsync("ControlBar")
    <div class="clearfix"></div>

    <!-- BEGIN CONTAINER -->
    <div class="container-fluid layout-designer-container">             
        @RenderBody()
    </div>

    <div class="page-footer">
        <div class="page-footer-inner">
            @DateTime.Now.Year &copy; Deviser WCM <a href="http://skydevise.com" title="SKY Devise" target="_blank">SKY Devise</a>
        </div>
        <div class="scroll-to-top">
            <i class="icon-arrow-up"></i>
        </div>
    </div>
</div>