<div class="row" *ngIf="modelConfig && modelConfig.formConfig && modelConfig.formConfig.fieldConfig && modelConfig.formConfig.fieldConfig.fields">
  <div class="col">

    <ng-container *ngFor="let keyField of modelConfig.formConfig.keyFields">
      <app-form-control [form]="form" [field]="keyField"></app-form-control>
    </ng-container>

    <div *ngFor="let fieldRow of modelConfig.formConfig.fieldConfig.fields" class="form-row">
      <fieldset *ngFor="let field of fieldRow" class="form-group col" [disabled]="!isFieldEnabled(field)">
          <ng-container *ngIf="isFieldShown(field)">
              <app-form-control 
              
              [form]="form"
              [field]="field"
              [isShown]="isFieldShown(field)"
              [isDisabled]="!isFieldEnabled(field)"
              [isValidate]="isFieldValidate(field)"
              
              [lookUps]="lookUps"></app-form-control>
          </ng-container>
        <!-- <pre>{{field|json}}</pre> -->
      </fieldset>
    </div>

  </div>
</div>