
<footer class="footer footer-classic bg-dark">
    <div class="container-fluid">
        <div class="row justify-content-center">
            <div class="col-md-12">
                <div class="text-center">
                    <p>
                        Copyright &copy; @DateTime.Now.Year Karthick Sundararajan. Released on <a href="https://github.com/deviserplatform/deviserplatform" title="Source" target="_blank"> <i class="fa fa-github"></i></a>
                        under the <a href="/install/License" title="License" target="_blank">MIT License</a>
                    </p>
                </div>
            </div>
        </div>
    </div>
</footer>