@using Deviser.Core.Library.TagHelpers;
@inject IScopeService scopeService
@{
    Layout = "~/Views/Shared/_AdminLayout.cshtml";
    var currentPage = scopeService.PageContext.CurrentPage;
}


@*<link href="http://fonts.googleapis.com/css?family=Open+Sans:400,300,600,700&subset=all" rel="stylesheet" type="text/css" />*@
<require dependency-type="Css" include="Development" priority="10" file-path="~/lib/font-awesome/css/font-awesome.css" test="test"></require>
<require dependency-type="Css" include="Development" priority="15" file-path="~/css/admin/admin.css" test="test"></require>
<!-- END GLOBAL MANDATORY STYLES -->

<require dependency-type="Script" include="Development" location="Head" priority="10" file-path="~/lib/jquery/dist/jquery.js" test="test"></require>
<require dependency-type="Script" include="Development" location="Head" priority="13" file-path="//stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js"></require>
<require dependency-type="Script" include="Development" location="Head" priority="14" file-path="~/lib/lodash/dist/lodash.js"></require>
<require dependency-type="Script" include="Development" location="Head" priority="15" file-path="~/js/metisMenu.min.js"></require>

@*<require type="Script" include="Development" priority="31" path="~/js/src/app/dev-form-helper.js"></require>*@
<require dependency-type="Script" include="Development" priority="32" file-path="~/js/admin/main.js"></require>

@await Component.InvokeAsync("ControlBar")
<div class="admin-wrapper">

    <div class="admin-sidebar overlay-scroll">

        <nav class="sidebar-nav">
            <ul class="metismenu" id="side-menu" dev-nav="AdminBS4" dev-nav-page="SystemOnly"></ul>
        </nav>

    </div>
    <div class="admin-body">
        <div class="admin-content container-fluid">
            <div class="row">
                <div class="col">
                    <section class="content-header">
                        <h1 class="page-header">@currentPage.PageTranslation.First().Title</h1>
                    </section>
                </div>
            </div>
            <div class="row">
                <div class="col">
                    <section class="content-body">
                        @RenderBody()
                    </section>
                </div>
            </div>
        </div>
        <footer class="admin-footer container-fluid">
            <div class="copyright text-center my-auto">
                <p>
                    Copyright &copy; @DateTime.Now.Year Karthick Sundararajan. Released on <a href="https://github.com/deviserplatform/deviserplatform" title="Source" target="_blank"> <i class="fa fa-github"></i></a>
                    under the <a href="/install/License" title="License" target="_blank">MIT License</a>
                </p>
            </div>
        </footer>
    </div>
</div>