
@{
    Layout = "~/Views/Shared/_AdminLayout.cshtml";
}

<require type="Css" priority="10" path="~/lib/font-awesome/css/font-awesome.css" test="test"></require>
<require type="Css" priority="11" path="~/lib/angular-ui-tree/dist/angular-ui-tree.min.css" test="test"></require>
<require type="Css" priority="12" path="~/lib/angular-ui-select/dist/select.css" test="test"></require>
<require type="Css" priority="13" path="~/lib/metismenu/dist/metismenu.css" test="test"></require>
<require type="Css" priority="14" path="~/lib/textAngular/dist/textAngular.css" test="test"></require>
<require type="Css" priority="15" path="~/css/admin/main.css" test="test"></require>
<!-- END GLOBAL MANDATORY STYLES -->

<require type="Script" location="Head" priority="10" path="~/lib/jquery/dist/jquery.js" test="test"></require>
<require type="Script" location="Head" priority="11" path="~/lib/jquery-ui/jquery-ui.js"></require>
<require type="Script" location="Head" priority="12" path="~/lib/bootstrap/dist/js/bootstrap.js"></require>
<require type="Script" location="Head" priority="13" path="~/lib/lodash/dist/lodash.js"></require>
<require type="Script" priority="14" path="~/lib/metisMenu/dist/metisMenu.js"></require>

<require type="Script" priority="15" path="~/js/src/app/sd-form-helper.js"></require>
<require type="Script" priority="16" path="~/js/admin/main.js"></require>

<require type="Script" priority="17" path="~/lib/angular/angular.js"></require>
<require type="Script" priority="18" path="~/lib/angular-sanitize/angular-sanitize.js"></require>
<require type="Script" priority="19" path="~/lib/angular-ui-router/release/angular-ui-router.js"></require>
<require type="Script" priority="20" path="~/lib/angular-ui-sortable/sortable.js"></require>
<require type="Script" priority="21" path="~/lib/angular-bootstrap/ui-bootstrap.js"></require>
<require type="Script" priority="22" path="~/lib/angular-bootstrap/ui-bootstrap-tpls.js"></require>
@*<require type="Script" path="~/lib/angular-ui-select/dist/select.js"></require>*@
<require type="Script" priority="23" path="~/js/src/lib-fixes/select.js"></require>
<require type="Script" priority="24" path="~/lib/angular-ui-tree/dist/angular-ui-tree.js"></require>
<require type="Script" priority="25" path="~/lib/angular-drag-and-drop-lists/angular-drag-and-drop-lists.js"></require>
<require type="Script" priority="26" path="~/lib/ng-file-upload/ng-file-upload-all.js"></require>
<require type="Script" priority="27" path="~/lib/angular-img-cropper/dist/angular-img-cropper.min.js"></require>
<require type="Script" priority="28" path="~/lib/textAngular/dist/textAngular-rangy.min.js"></require>
<require type="Script" priority="29" path="~/lib/textAngular/dist/textAngularSetup.js"></require>
<require type="Script" priority="30" path="~/lib/textAngular/dist/textAngular-sanitize.js"></require>
<require type="Script" priority="31" path="~/lib/textAngular/dist/textAngular.js"></require>

<require type="Script" priority="32" path="~/js/src/app/sdlib.js"></require>
<require type="Script" priority="33" path="~/js/src/app/layout.js"></require>
<require type="Script" priority="34" path="~/js/src/app/edit.js"></require>
<require type="Script" priority="35" path="~/js/src/app/services.js"></require>
<require type="Script" priority="36" path="~/js/src/app/config.js"></require>
<require type="Script" priority="37" path="~/js/src/app/components/image-manager.js"></require>
<require type="Script" priority="38" path="~/js/src/app/components/language-selector.js"></require>
<require type="Script" priority="39" path="~/js/src/app/components/link-selector.js"></require>

<div id="wrapper">
    @await Component.InvokeAsync("ControlBar")
    <div class="clearfix"></div>

    <!-- BEGIN CONTAINER -->
    <div class="container-fluid layout-designer-container logged-in">             
        @RenderBody()
    </div>

    <div class="page-footer">
        <div class="page-footer-inner">
            @DateTime.Now.Year &copy; Deviser WCM <a href="http://skydevise.com" title="SKY Devise" target="_blank">SKY Devise</a>
        </div>
        <div class="scroll-to-top">
            <i class="icon-arrow-up"></i>
        </div>
    </div>
</div>