
@{
    Layout = "~/Views/Shared/_AdminLayout.cshtml";
}

@*<link href="http://fonts.googleapis.com/css?family=Open+Sans:400,300,600,700&subset=all" rel="stylesheet" type="text/css" />*@
<require type="Css" include="Development" priority="10" path="~/lib/font-awesome/css/font-awesome.css" test="test"></require>
<require type="Css" include="Development" priority="11" path="~/lib/angular-ui-tree/dist/angular-ui-tree.min.css" test="test"></require>
<require type="Css" include="Development" priority="12" path="~/lib/angular-ui-select/dist/select.css" test="test"></require>
<require type="Css" include="Development" priority="13" path="~/lib/metismenu/dist/metismenu.css" test="test"></require>
<require type="Css" include="Development" priority="14" path="~/lib/textAngular/dist/textAngular.css" test="test"></require>
<require type="Css" include="Development" priority="15" path="~/css/admin/main.css" test="test"></require>
<!-- END GLOBAL MANDATORY STYLES -->

<require type="Script" include="Development" location="Head" priority="10" path="~/lib/jquery/dist/jquery.js" test="test"></require>
<require type="Script" include="Development" location="Head" priority="11" path="~/lib/jquery-ui/jquery-ui.js"></require>
<require type="Script" include="Development" location="Head" priority="12" path="~/js/moment.js"></require>
<require type="Script" include="Development" location="Head" priority="13" path="~/js/bootstrap.min.js"></require>
<require type="Script" include="Development" location="Head" priority="14" path="~/lib/lodash/dist/lodash.js"></require>
<require type="Script" include="Development" priority="15" path="~/lib/metisMenu/dist/metisMenu.js"></require>

<require type="Script" include="Development" priority="16" path="~/js/src/app/dev-form-helper.js"></require>
<require type="Script" include="Development" priority="17" path="~/js/admin/main.js"></require>

<require type="Script" include="Development" priority="30" path="~/lib/angular/angular.js"></require>
<require type="Script" include="Development" priority="31" path="~/lib/angular-sanitize/angular-sanitize.js"></require>
<require type="Script" include="Development" priority="32" path="~/lib/angular-ui-router/release/angular-ui-router.js"></require>
<require type="Script" include="Development" priority="33" path="~/lib/angular-ui-sortable/sortable.js"></require>
<require type="Script" include="Development" priority="34" path="~/lib/angular-bootstrap/ui-bootstrap.js"></require>
<require type="Script" include="Development" priority="35" path="~/lib/angular-bootstrap/ui-bootstrap-tpls.js"></require>
@*<require type="Script" include="Development" path="~/lib/angular-ui-select/dist/select.js"></require>*@
<require type="Script" include="Development" priority="36" path="~/js/src/lib-fixes/select.js"></require>
<require type="Script" include="Development" priority="37" path="~/lib/angular-ui-tree/dist/angular-ui-tree.js"></require>
<require type="Script" include="Development" priority="38" path="~/lib/angular-drag-and-drop-lists/angular-drag-and-drop-lists.js"></require>
<require type="Script" include="Development" priority="39" path="~/lib/ng-file-upload/ng-file-upload-all.js"></require>
<require type="Script" include="Development" priority="40" path="~/lib/angular-img-cropper/dist/angular-img-cropper.min.js"></require>
<require type="Script" include="Development" priority="41" path="~/lib/textAngular/dist/textAngular-rangy.min.js"></require>
<require type="Script" include="Development" priority="42" path="~/lib/textAngular/dist/textAngularSetup.js"></require>
<require type="Script" include="Development" priority="43" path="~/lib/textAngular/dist/textAngular-sanitize.js"></require>
<require type="Script" include="Development" priority="44" path="~/lib/textAngular/dist/textAngular.js"></require>

<require type="Script" include="Development" priority="50" path="~/js/src/app/sdlib.js"></require>
<require type="Script" include="Development" priority="51" path="~/js/src/app/layout.js"></require>
<require type="Script" include="Development" priority="52" path="~/js/src/app/edit.js"></require>
<require type="Script" include="Development" priority="53" path="~/js/src/app/services.js"></require>
<require type="Script" include="Development" priority="54" path="~/js/src/app/config.js"></require>
<require type="Script" include="Development" priority="55" path="~/js/src/app/components/image-manager.js"></require>
<require type="Script" include="Development" priority="56" path="~/js/src/app/components/language-selector.js"></require>
<require type="Script" include="Development" priority="57" path="~/js/src/app/components/link-selector.js"></require>
<require type="Script" include="Development" priority="58" path="~/js/src/app/components/dev-modal.js"></require>
@*<script src="~/js/admin/dashboard.js"></script>*@

<require type="Css" exclude="Development" priority="10" path="~/lib/font-awesome/css/font-awesome.css" test="test"></require>
<require type="Css" exclude="Development" priority="11" path="~/release/deviser.min.css" test="test"></require>

<require type="Script" exclude="Development" location="Head" priority="11" path="~/release/deviserlib.min.js"></require>
<require type="Script" exclude="Development" location="Head" priority="12" path="~/release/deviserapp.min.js"></require>

<div id="wrapper">
    @await Component.InvokeAsync("ControlBar")
    <div class="clearfix"></div>

    <!-- BEGIN CONTAINER -->
    <div class="container-fluid layout-designer-container logged-in">
        @RenderBody()
    </div>

    <footer class="footer footer-classic bg-dark">
        <div class="container-fluid">
            <div class="row justify-content-center">
                <div class="col-md-12">
                    <div class="text-center">
                        <p>Copyright &copy; @DateTime.Now.Year Karthick Sundararajan. Released under the <a href="https://opensource.org/licenses/MIT" target="_blank">MIT License</a></p>
                    </div>
                </div>
            </div>
        </div>
    </footer>
</div>