<div class="container">
    <div class="row">
        <div class="col-md-12">
            <h3>Database not found</h3>
            <p>Deviser Platform has been not properly installed, kindly check the configuration.</p>
        </div>
    </div>
</div>
