@using System.Collections.Generic
@model Deviser.Core.Common.DomainTypes.Page
@inject IScopeService scopeService
@inject ISettingManager settingManager
@{
    if (ViewBag.Theme != null)
    {
        Layout = ViewBag.Theme;
    }

    var pageContext = scopeService.PageContext;
    var siteHeaderTags = settingManager.GetSettingValue("SiteHeaderTags");
    var pageHeaderTags = scopeService.PageContext.CurrentTranslation.PageHeaderTags;

    ViewBag.Title = pageContext.CurrentTranslation.Title;
    ViewBag.Description = pageContext.CurrentTranslation.Description;
    ViewBag.Keywords = pageContext.CurrentTranslation.Keywords;
    ViewBag.SiteHeaderTags = siteHeaderTags != null ? siteHeaderTags : "";
    ViewBag.PageHeaderTags = pageHeaderTags != null ? pageHeaderTags : "";

    var moduleViewResults = (Dictionary<string, List<Deviser.Core.Common.DomainTypes.ContentResult>>)ViewBag.ModuleViewResults;
}
<script>
    (function () {
        var pageContext =  @Html.Raw(SDJsonConvert.SerializeObject(scopeService.PageContext));
        pageContext.isEmbedded = true;
        pageContext.assetPath = '/_content/Deviser.Web/ClientApp/';
        window.pageContext = pageContext;
    }());
</script>

@if (moduleViewResults != null)
{

    <div sde-page="@Model" sde-module-results="@moduleViewResults" class="page-content">

    </div>
}
else
{
    @ViewBag.AdminResult
}

