<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Deviser Platform - @ViewData["Title"]</title>

    <link rel="apple-touch-icon" sizes="120x120" href="/_content/Deviser.Web/images/favicons/apple-touch-icon.png">
    <link rel="icon" type="image/png" sizes="32x32" href="/_content/Deviser.Web/images/favicons/favicon-32x32.png">
    <link rel="icon" type="image/png" sizes="16x16" href="/_content/Deviser.Web/images/favicons/favicon-16x16.png">
    <link rel="manifest" href="/_content/Deviser.Web/images/favicons/site.webmanifest">
    <link rel="mask-icon" href="/_content/Deviser.Web/images/favicons/safari-pinned-tab.svg" color="#5bbad5">
    <meta name="msapplication-TileColor" content="#ec3d28">
    <meta name="theme-color" content="#ffffff">

    <link rel="stylesheet" href="~/lib/bootstrap/dist/css/bootstrap.css" />
    <link href="/_content/Deviser.Web//maxcdn.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css" rel="stylesheet" />
    <link rel="stylesheet" href="~/css/site.css" />
    <style>
        .navbar-brand {
            padding: 24px 0;
        }

        .body-content {
            margin-top: 40px;
        }



        .btn-install {
            width: 50%;
        }

        .body-content h2, footer p {
            text-align: center;
        }

        body.install{
            position:relative;
            height:100vh;
        }

        .progress-overlay.hide {
            display:none;
        }
    </style>
</head>
<body class="install">

    <header class="header-container skyline-nav navbar navbar-expand-lg navbar-light bg-light">
        <div class="container d-flex justify-content-center">
            <a class="navbar-brand">
                <img src="/_content/Deviser.Web/images/DeviserLogoDark.svg" style="width:240px" onerror="this.src='/images/DeviserLogoDark.png'; this.onerror=null;" alt="DEVISER">
            </a>
        </div>
    </header>

    <div class="container body-content">
        @RenderBody()

        <footer>
            <div class="row justify-content-center">
                <div class="col-12">
                    <hr />
                    <p>
                        Copyright &copy; @DateTime.Now.Year Karthick Sundararajan.</a>
                    </p>
                </div>
            </div>

        </footer>
    </div>

    <div class="progress-overlay hide">

        <div class="progress-container">
            <div class="progress-loading">
                <svg width="135" height="140" viewBox="0 0 135 140" xmlns="http://www.w3.org/2000/svg" fill="#fff">
                    <rect y="10" width="15" height="120" rx="6">
                        <animate attributeName="height"
                                 begin="0.5s" dur="1s"
                                 values="120;110;100;90;80;70;60;50;40;140;120" calcMode="linear"
                                 repeatCount="indefinite" />
                        <animate attributeName="y"
                                 begin="0.5s" dur="1s"
                                 values="10;15;20;25;30;35;40;45;50;0;10" calcMode="linear"
                                 repeatCount="indefinite" />
                    </rect>
                    <rect x="30" y="10" width="15" height="120" rx="6">
                        <animate attributeName="height"
                                 begin="0.25s" dur="1s"
                                 values="120;110;100;90;80;70;60;50;40;140;120" calcMode="linear"
                                 repeatCount="indefinite" />
                        <animate attributeName="y"
                                 begin="0.25s" dur="1s"
                                 values="10;15;20;25;30;35;40;45;50;0;10" calcMode="linear"
                                 repeatCount="indefinite" />
                    </rect>
                    <rect x="60" width="15" height="140" rx="6">
                        <animate attributeName="height"
                                 begin="0s" dur="1s"
                                 values="120;110;100;90;80;70;60;50;40;140;120" calcMode="linear"
                                 repeatCount="indefinite" />
                        <animate attributeName="y"
                                 begin="0s" dur="1s"
                                 values="10;15;20;25;30;35;40;45;50;0;10" calcMode="linear"
                                 repeatCount="indefinite" />
                    </rect>
                    <rect x="90" y="10" width="15" height="120" rx="6">
                        <animate attributeName="height"
                                 begin="0.25s" dur="1s"
                                 values="120;110;100;90;80;70;60;50;40;140;120" calcMode="linear"
                                 repeatCount="indefinite" />
                        <animate attributeName="y"
                                 begin="0.25s" dur="1s"
                                 values="10;15;20;25;30;35;40;45;50;0;10" calcMode="linear"
                                 repeatCount="indefinite" />
                    </rect>
                    <rect x="120" y="10" width="15" height="120" rx="6">
                        <animate attributeName="height"
                                 begin="0.5s" dur="1s"
                                 values="120;110;100;90;80;70;60;50;40;140;120" calcMode="linear"
                                 repeatCount="indefinite" />
                        <animate attributeName="y"
                                 begin="0.5s" dur="1s"
                                 values="10;15;20;25;30;35;40;45;50;0;10" calcMode="linear"
                                 repeatCount="indefinite" />
                    </rect>
                </svg>
            </div>
            <div class="progress-text">
                Please wait, Deviser Platform is being installed...
            </div>
        </div>

    </div>

    <script src="~/_content/Deviser.Web/lib/jquery/dist/jquery.js"></script>
    <script src="~/_content/Deviser.Web/lib/bootstrap/dist/js/bootstrap.js"></script>
    <script src="~/_content/Deviser.Web/lib/aspnet/signalr/dist/browser/signalr.min.js"></script>

    @RenderSection("Scripts", required: false)
</body>
</html>
