<tr>
    <th *ngFor="let field of adminConfig.modelConfig.gridConfig.fields">
        <div class="header-field-cotnainer">
            <div class="label" (click)="onSortToggle(field);">{{field.fieldOption.displayName}}</div>

            <div class="sort-icon" [ngClass]="getSortCssClass(field)">
                <i class="my-icon" aria-label="My icon" [inlineSVG]="'assets/icons/trending_flat.svg' | envPath"></i>
            </div>
            <div class="filter-container">
                <button (click)="onFilterToggle($event, field);" class="btn-filter">
                    <i class="my-icon" aria-label="My icon" [inlineSVG]="'assets/icons/filter_list.svg' | envPath"></i>
                </button>
                <div class="filter-content" *ngIf="selectedFilter && selectedFilter.filterType && isFilterVisible(field)"
                    [ngStyle]="filterStyle">
                    <app-filter [selectedFilter]="selectedFilter" 
                    [filterOperator]="filterOperator"
                    (filter)="onFilter($event);"
                    (clear)="onFilterClear($event);">
                    </app-filter>
                </div>
            </div>
        </div>
    </th>
    <th *ngFor="let rowAction of adminConfig.modelConfig.gridConfig.rowActions | keyvalue">
        {{rowAction.value.buttonText}}</th>
    <th *ngIf="adminConfig.modelConfig.gridConfig.isEditVisible">Edit</th>
    <th *ngIf="adminConfig.modelConfig.gridConfig.isDeleteVisible">Delete</th>
</tr>