@inject IScopeService scopeService
@{
    if (ViewBag.Skin != null)
    {
        Layout = "~/Sites/Default/Skins/Skyline/LayoutDesigner.cshtml";
    }
    var currentPage = scopeService.PageContext.CurrentPage;
}
<script type="text/javascript">
    var pageContext =  @Html.Raw(SDJsonConvert.SerializeObject(scopeService.PageContext));
    console.log(pageContext);
</script>

<div class="layout-wrapper" ng-app="deviserEdit" ng-controller="EditCtrl as editVM">
    <div class="row">
        <div class="col-md-2">
            <h3 class="page-title">
                Page Editor
                <small>edit the page</small>
            </h3>
        </div>
        <div class="col-md-8">
            <h3>Layout Name: {{editVM.pageLayout.name}}</h3>
        </div>
        <div class="col-md-2">
            <h3> Page name: @currentPage.PageTranslation.Get().Title</h3>
        </div>
    </div>

    <div class="row">
        <div class="col-md-12">
            <div ng-class="{'alert alert-danger':editVM.message.messageType=='error',
                     'alert alert-info':editVM.message.messageType=='info',
                     'alert alert-success':editVM.message.messageType=='success',
                     'alert alert-warning':editVM.message.messageType=='warning'}" role="alert">
                {{editVM.message.content}}
            </div>
        </div>
    </div>


    <div class="layout-container nestedDemo">
        <script type="text/ng-template" id="placeHolders.html">
            <div class="row dnd-list"
                 dnd-list="item.placeHolders"
                 dnd-allowed-types="item.allowedTypes"
                 dnd-drop="editVM.dropCallback(event, index, item)"
                 dnd-inserted="editVM.insertedCallback(event, index, item)"
                 ng-init="placeHolders = item.placeHolders; parentItem=item;">
                <div class="content-item"
                     ng-repeat="item in placeHolders"
                     dnd-draggable="item"
                     dnd-type="item.layoutTypeId"
                     dnd-effect-allowed="move"
                     dnd-moved="editVM.itemMoved(placeHolders, $index, event)"
                     dnd-selected="editVM.selectItem(item)"
                     ng-class="{selected:editVM.selectedItem === item}"
                     ng-include="item.layoutTemplate + '.html'">
                </div>
            </div>
        </script>
        <script type="text/ng-template" id="container.html">
            <div class="container-element box-layout box-grey">
                <h3>{{item.type}} {{$index+1}}</h3>
                <div class="container-content" ng-include="'placeHolders.html'">

                </div>
            </div>
        </script>
        <script type="text/ng-template" id="row.html">
            <div class="container-element box-layout box-grey">
                <h3>{{item.type}} {{$index+1}}</h3>
                <div class="container-content" ng-include="'placeHolders.html'">

                </div>
            </div>
        </script>
        <script type="text/ng-template" id="column.html">
            <div class="col-md-3">
                <div class="container-element box-layout box-grey">
                    <h3>{{item.type}} {{$index+1}}</h3>
                    <div class="container-content" ng-include="'placeHolders.html'">

                    </div>
                </div>
            </div>
        </script>
        <script type="text/ng-template" id="repeater.html">
            <div class="container-element box-layout box-grey">
                <h3>{{item.type}} {{$index+1}} repeater</h3>
                <div class="container-content" ng-include="'placeHolders.html'">

                </div>
            </div>
        </script>
        <script type="text/ng-template" id="content.html">
            <div class="container-element box box-blue">
                @*<div ng-bind="item.index = $index+1" style="display:none"></div>*@
                <div class="content-header clearfix">
                    <div class="content-title">
                        <i class="{{item.contentType.iconClass}}" ng-show="item.contentType.iconClass"></i>
                        <img src="{{item.contentType.iconImage}}" ng-show="item.contentType.iconImage" alt="{{item.contentType.name}}" />
                        {{item.contentType.label}}


                        {{$index+1}}
                    </div>
                    <div class="content-controls" dnd-nodrag ng-show="item.pageContent.hasEditPermission">
                        <a class="btn btn-primary" ng-click="editVM.changeContentPermission(item)">
                            <i class="fa fa-shield" aria-hidden="true"></i>
                        </a>
                        <a class="btn btn-primary" ng-click="editVM.editContent(item)">
                            <i class="fa fa-pencil"></i>
                        </a>
                    </div>
                </div>

                <div class="container-content">

                </div>
            </div>
        </script>
        <script type="text/ng-template" id="module.html">
            <div class="container-element box box-blue">

                <div class="module-header clearfix">
                    <div class="module-title">
                        <i class="{{item.moduleAction.iconClass}}" ng-show="item.moduleAction.iconClass"></i>
                        <img src="{{item.moduleAction.iconImage}}" ng-show="item.moduleAction.iconImage" alt="{{item.moduleAction.name}}" />
                        {{item.moduleAction.displayName}}


                        {{$index+1}}
                    </div>
                    <div class="module-controls" dnd-nodrag uib-dropdown ng-show="item.pageModule.hasEditPermission">
                        <a class="btn btn-primary" ng-click="editVM.changeModulePermission(item)">
                            <i class="fa fa-shield" aria-hidden="true"></i>
                        </a>
                        <a class="btn btn-primary" ng-click="editVM.editModule(item)" uib-dropdown-toggle>
                            <i class="fa fa-pencil"></i>
                        </a>
                        <ul class="module-actions dropdown-menu" uib-dropdown-menu role="menu" aria-labelledby="single-button">
                            <li ng-repeat="action in editVM.selectedItem.pageModule.editActions" role="menuitem">
                                <a ng-click="editVM.openModuleActionEdit(action)">
                                    <i class="{{action.iconClass}}" ng-show="action.iconClass"></i>

                                    {{action.displayName}}
                                </a>
                            </li>
                        </ul>
                    </div>
                </div>
                <div class="container-content">

                </div>
            </div>
        </script>



        <div sd-content-edits="All"></div>

        @await Html.PartialAsync("_NgComponents")


        <div class="row">
            <div class="col-md-2">
                <div class="toolbox box box-grey box-padding">
                    <h3>Content Elements</h3>
                    <div>
                        <!-- The toolbox only allows to copy objects, not move it. After a new
                        element was created, dnd-copied is invoked and we generate the next id -->
                        <div ng-repeat="contentType in editVM.contentTypes | orderBy:'contentType.sortOrder'"
                             dnd-type="contentType.type"
                             dnd-draggable="contentType"
                             dnd-effect-allowed="copy"
                             dnd-copied="editVM.copyElement(contentType)">
                            <button type="button" class="btn btn-default">
                                <i class="{{contentType.contentType.iconClass}}" ng-show="contentType.contentType.iconClass"></i>
                                <img src="{{contentType.contentType.iconImage}}" ng-show="contentType.contentType.iconImage" alt="{{contentType.contentType.name}}" />
                                {{contentType.contentType.label}}
                            </button>
                        </div>
                    </div>
                </div>
                <div class="toolbox box box-grey box-padding">
                    <h3>Modules</h3>
                    <div>
                        <!-- The toolbox only allows to copy objects, not move it. After a new
                        element was created, dnd-copied is invoked and we generate the next id -->
                        <div ng-repeat="item in editVM.modules"
                             dnd-type="item.type"
                             dnd-draggable="item"
                             dnd-effect-allowed="copy"
                             dnd-copied="editVM.copyElement(item)">
                            <button type="button" class="btn btn-default">
                                <i class="{{item.moduleAction.iconClass}}" ng-show="item.moduleAction.iconClass"></i>
                                <img src="{{item.moduleAction.iconImage}}" ng-show="item.moduleAction.iconImage" alt="{{item.moduleAction.name}}" />
                                {{item.moduleAction.displayName}}
                            </button>
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-md-8">

                <div class="dropzone box box-grey">
                    <!-- The dropzone also uses the list template -->
                    <h3>Page Container</h3>
                    <div class="row dnd-list"
                         dnd-list="editVM.pageLayout.placeHolders"
                         dnd-allowed-types="editVM.layoutAllowedTypes"
                         dnd-drop="editVM.dropCallback(event, index, item)"
                         dnd-inserted="editVM.insertedCallback(event, index, item)">
                        <div class="content-item"
                             ng-repeat="item in editVM.pageLayout.placeHolders"
                             dnd-draggable="item"
                             dnd-type="item.type"
                             dnd-disable-if="(item.layoutTemplate !== 'content' && item.layoutTemplate !== 'module')"
                             dnd-effect-allowed="move"
                             dnd-moved="editVM.itemMoved(editVM.pageLayout.placeHolders, $index, event)"
                             dnd-selected="editVM.selectItem(item)"
                             ng-class="{selected:editVM.selectedItem === item}"
                             ng-include="item.layoutTemplate + '.html'">
                        </div>
                    </div>
                </div>

                <div class="dropzone box box-grey">
                    <!-- The dropzone also uses the list template -->
                    <h3>Unassigned Elements</h3>
                    <div class="row dnd-list"
                         dnd-list="editVM.uaLayout.placeHolders"
                         dnd-allowed-types="editVM.layoutAllowedTypes"
                         dnd-inserted="editVM.insertedCallback(event, index, item)">
                        <div class="content-item"
                             ng-repeat="item in editVM.uaLayout.placeHolders"
                             dnd-draggable="item"
                             dnd-type="item.type"
                             dnd-disable-if="(item.layoutTemplate !== 'content' && item.layoutTemplate !== 'module')"
                             dnd-effect-allowed="move"
                             dnd-moved="editVM.itemMoved(editVM.uaLayout.placeHolders, $index, event)"
                             dnd-selected="editVM.selectItem(item)"
                             ng-class="{selected:editVM.selectedItem === item}"
                             ng-include="item.layoutTemplate + '.html'">
                        </div>
                    </div>
                </div>

                @*<div view-source="nested" highlight-lines="{markup: '1-18, 20-28, 40-42, 57-68, 78-82'}"></div>*@
            </div>
            <!-- Sidebar -->
            <div class="col-md-2">
                <div class="box box-grey box-padding properties">
                    <h3>Selected</h3>
                    <div class="row">
                        <div class="col-md-12">
                            <strong>Content Type</strong>
                        </div>
                        <div class="col-md-12">
                            {{editVM.selectedItem.contentType.label}}
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-md-6">
                            <strong>Properties</strong>
                        </div>
                    </div>
                    <div class="row" ng-repeat="property in editVM.selectedItem.properties track by $index">
                        <div class="col-md-6">
                            {{property.label}}
                        </div>
                        <div class="col-md-6" ng-show="!property.optionList">
                            <input type="text" class="form-control input-sm" ng-model="property.value" />
                        </div>
                        <div class="col-md-6" ng-show="property.optionList">
                            <select class="form-control input-sm" name="repeatSelect" id="repeatSelect" ng-model="property.value">
                                <option ng-repeat="option in property.optionList" value="{{option.id}}">{{option.label}}</option>
                            </select>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-md-6 col-md-offset-6" ng-show="editVM.selectedItem.contentType">
                            <a class="btn btn-primary" ng-click="editVM.saveProperties()" ng-disabled="!editVM.selectedItem.isPropertyChanged">Save</a>
                        </div>
                    </div>
                </div>
                <div class="trashcan box box-grey box-padding">
                    <!-- If you use [] as referenced list, the dropped elements will be lost -->
                    <h3>Trashcan</h3>
                    <ul dnd-list="[]" dnd-drop="editVM.deleteElement(event, index, item)">
                        <li><i class="fa fa-trash"></i></li>
                    </ul>
                </div>
            </div>

        </div>


        @*<div class="row">
                <div class="col-lg-6">
                    <pre>{{editVM.pageLayout | json}}</pre>
                </div>

            </div>*@

    </div>


</div>
