@model Deviser.Core.Common.DomainTypes.Page
@inject IScopeService scopeService
@{
    if (ViewBag.Theme != null)
    {
        Layout = ViewBag.Theme;
    }

    var pageContext = scopeService.PageContext;

    ViewBag.Title = pageContext.CurrentTranslation.Title;
    ViewBag.Description = pageContext.CurrentTranslation.Description;
    ViewBag.Keywords = pageContext.CurrentTranslation.Keywords;

    Dictionary<string, List<Deviser.Core.Common.DomainTypes.ContentResult>> moduleActionResults =
(Dictionary<string, List<Deviser.Core.Common.DomainTypes.ContentResult>>)ViewBag.ModuleActionResults;    
}
<script type="text/javascript">
    var pageContext =  @Html.Raw(SDJsonConvert.SerializeObject(scopeService.PageContext));
    console.log(pageContext);
</script>

<div sde-page="@Model" sde-module-results="@moduleActionResults" class="page-content">

</div>