@model Deviser.Core.Data.Entities.Page
@inject IScopeService scopeService
@{
    if (ViewBag.Skin != null)
    {
        Layout = ViewBag.Skin;
    }

    ViewBag.Title = "Index";
    Dictionary<string, List<Deviser.Core.Common.DomainTypes.ContentResult>> moduleActionResults =
        (Dictionary<string, List<Deviser.Core.Common.DomainTypes.ContentResult>>)ViewBag.ModuleActionResults;
}
<script type="text/javascript">
    var pageContext =  @Html.Raw(SDJsonConvert.SerializeObject(scopeService.PageContext));
    console.log(pageContext);
</script>

<div sde-page="@Model" sde-module-results="@moduleActionResults" class="page-content">

</div>

