@model Deviser.Core.Data.Entities.Page

@{
    if (ViewBag.Skin != null)
    {
        Layout = ViewBag.Skin;
    }

    ViewBag.Title = "Index";
    Dictionary<string, string> moduleActionResults = (Dictionary<string, string>)ViewBag.ModuleActionResults;
}
<script type="text/javascript">
    var appContext =  @Html.Raw(SDJsonConvert.SerializeObject(ViewBag.AppContext));
    console.log(appContext);
</script>

<div sde-page="@Model" sde-module-results="@moduleActionResults">

</div>

