@inject IScopeService scopeService
@{
    if (ViewBag.Theme != null)
    {
        Layout = "~/Sites/Default/Themes/Skyline/LayoutDesigner.cshtml";
    }
    var currentPage = scopeService.PageContext.CurrentPage;
}
<script type="text/javascript">
    var pageContext =  @Html.Raw(SDJsonConvert.SerializeObject(scopeService.PageContext));
    console.log(pageContext);
    (function () {
        $(function () {
            $('body').addClass('page-edit');
        });
    }());
</script>

<div class="layout-wrapper" ng-app="deviserLayout" ng-controller="LayoutCtrl as layoutVM">
    <div class="row layout-controls">
        <div class="col-md-2">
            <h3 class="layout-title">
                Layout Designer
                <small>layout the page</small>
            </h3>
        </div>
        <div class="col-md-8 form-inline">
            <div class="form-group">
                <div class="btn-group layout-dropdown" uib-dropdown is-open="status.isopen">
                    <button type="button" class="btn btn-primary dropdown-toggle" uib-dropdown-toggle ng-disabled="disabled">
                        <span class="pull-left" ng-show="layoutVM.pageLayout.name">{{layoutVM.pageLayout.name}}</span>
                        <span class="pull-left" ng-show="!layoutVM.pageLayout.name">Choose Layout</span> <i class="fa fa-angle-down pull-right"></i>
                    </button>
                    <ul class="dropdown-menu" uib-dropdown-menu role="menu">
                        <li ng-repeat="layout in layoutVM.layouts track by $index"><a ng-click="layoutVM.selectLayout(layout)">{{layout.name}}</a></li>
                    </ul>
                </div>
                <button type="button" class="layout-control btn btn-success" ng-click="layoutVM.newLayout()">
                    <i class="fa fa-plus"></i> New
                </button>
                <button type="button" class="layout-control btn btn-default" ng-click="layoutVM.copyLayout()">
                    <i class="fa fa-clone" aria-hidden="true"></i> Copy
                </button>
            </div>

            <div class="form-group layout-name">
                <input type="text" class="form-control" placeholder="Enter layout name" ng-model="layoutVM.pageLayout.name" />
            </div>

            <button type="button" class="layout-control btn btn-primary" ng-click="layoutVM.saveLayout()">
                <i class="fa fa-floppy-o" aria-hidden="true"></i> Save
            </button>

            <button type="button" class="layout-control btn btn-danger pull-right" ng-click="layoutVM.deleteLayout()" ng-disabled="!layoutVM.pageLayout.id">
                <i class="fa fa-trash"></i> Delete
            </button>
        </div>
        <div class="col-md-2">
            <h4> Page name: <b>@currentPage.PageTranslation.Get().Title</b></h4>
        </div>
    </div>


    <div class="row">
        <div class="col-md-12">
            <script type="text/ng-template" id="placeHolders.html">
                <div class="row dnd-list"
                     dnd-list="item.placeHolders"
                     dnd-allowed-types="item.allowedTypes"
                     dnd-drop="layoutVM.dropCallback(event, index, item)"
                     ng-init="placeHolders = item.placeHolders">                    
                    <div class="content-item"
                         ng-repeat="item in placeHolders"
                         dnd-draggable="item"
                         dnd-type="item.layoutTypeId"
                         dnd-effect-allowed="move"
                         dnd-moved="layoutVM.itemMoved(placeHolders, $index)"
                         dnd-selected="layoutVM.selectItem(item)"
                         ng-class="{selected:layoutVM.selectedItem === item}"
                         ng-include="item.layoutTemplate + '.html'">
                    </div>
                </div>
            </script>
            <script type="text/ng-template" id="container.html">
                <div class="container-element box box-blue">
                    <h3>{{item.label}} {{$index+1}}</h3>
                    <div class="container-content" ng-include="'placeHolders.html'">

                    </div>
                </div>
            </script>
            <script type="text/ng-template" id="row.html">
                <div class="container-element box box-blue">
                    <h3>{{item.label}} {{$index+1}}</h3>
                    <div class="container-content" ng-include="'placeHolders.html'">

                    </div>
                </div>
            </script>
            <script type="text/ng-template" id="column.html">
                <div class="col-md-3">
                    <div class="container-element box box-blue">
                        <h3>{{item.label}} {{$index+1}}</h3>
                        <div class="container-content" ng-include="'placeHolders.html'">

                        </div>
                    </div>
                </div>
            </script>
            <script type="text/ng-template" id="repeater.html">
                <div class="container-element box box-blue">
                    <h3>{{item.label}} {{$index+1}} repeater</h3>
                    <div class="container-content" ng-include="'placeHolders.html'">

                    </div>
                </div>
            </script>

            <div>
                <div ng-class="{'alert alert-danger':layoutVM.message.messageType=='error',
                     'alert alert-info':layoutVM.message.messageType=='info',
                     'alert alert-success':layoutVM.message.messageType=='success',
                     'alert alert-warning':layoutVM.message.messageType=='warning'}" role="alert">
                    {{layoutVM.message.content}}
                </div>
            </div>
            <div class="row layout-container">
                <div class="col-md-2">
                    <div class="toolbox box box-grey box-padding">
                        <h3>Layout Elements</h3>
                        <div>
                            <!-- The toolbox only allows to copy objects, not move it. After a new
                            element was created, dnd-copied is invoked and we generate the next id -->
                            <div ng-repeat="layoutType in layoutVM.layoutTypes track by $index"
                                 dnd-type="layoutType.layoutTypeId"
                                 dnd-draggable="layoutType"
                                 dnd-effect-allowed="copy"
                                 dnd-copied="layoutType.id = layoutVM.newGuid()">
                                <button type="button" class="btn btn-default">

                                    <i class="{{layoutType.iconClass}}" ng-show="layoutType.iconClass"></i>
                                    <img src="{{layoutType.iconImage}}" ng-show="layoutType.iconImage" alt="{{layoutType.name}}" />
                                    {{layoutType.label}}
                                </button>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="col-md-8">
                    <div class="row">
                        <div class="col-md-12">
                            <div class="dropzone box box-grey">
                                <!-- The dropzone also uses the list template -->
                                <h3>Page Container</h3>
                                <div class="row dnd-list"
                                     dnd-list="layoutVM.pageLayout.placeHolders"
                                     dnd-allowed-types="layoutVM.layoutAllowedTypes"
                                     dnd-drop="layoutVM.dropCallback(event, index, item)">
                                    <div class="content-item"
                                         ng-repeat="item in layoutVM.pageLayout.placeHolders"
                                         dnd-draggable="item"
                                         dnd-type="item.layoutTypeId"
                                         dnd-effect-allowed="move"
                                         dnd-moved="layoutVM.itemMoved(layoutVM.pageLayout.placeHolders, $index)"
                                         dnd-selected="layoutVM.selectItem(item)"
                                         ng-class="{selected:layoutVM.selectedItem === item}"
                                         ng-include="item.layoutTemplate + '.html'">
                                    </div>

                                </div>

                            </div>
                        </div>
                    </div>
                </div>
                <!-- Sidebar -->
                <div class="col-md-2">
                    <div class="box box-grey box-padding properties">
                        <h3>Selected</h3>
                        <div class="row">
                            <div class="col-md-6">
                                <strong>Layout Type</strong>
                            </div>
                            <div class="col-md-6">
                                {{layoutVM.selectedItem.label}}
                            </div>
                        </div>
                        <div class="row">
                            <div class="col-md-6">
                                <strong>Properties</strong>
                            </div>
                        </div>

                        <div class="row" ng-repeat="property in layoutVM.selectedItem.properties track by $index">
                            <div class="col-md-6">
                                {{property.label}}
                            </div>
                            <div class="col-md-6" ng-show="!property.optionList">
                                <input type="text" class="form-control input-sm" ng-model="property.value" />
                            </div>
                            <div class="col-md-6" ng-show="property.optionList">
                                <select class="form-control input-sm" name="repeatSelect" id="repeatSelect" ng-model="property.value">
                                    <option ng-repeat="option in property.optionList" value="{{option.id}}">{{option.label}}</option>
                                </select>
                            </div>
                        </div>

                    </div>
                    <div class="trashcan box box-grey box-padding">
                        <!-- If you use [] as referenced list, the dropped elements will be lost -->
                        <h3>Trashcan</h3>
                        <ul dnd-list="[]" dnd-drop="layoutVM.deleteElement(event, index, item)">
                            <li><i class="fa fa-trash"></i></li>
                        </ul>
                    </div>
                </div>

            </div>
            @*<div class="row">
                    <div class="col-lg-6">
                        <pre>{{layoutVM.pageLayout | json}}</pre>
                    </div>

                </div>*@
        </div>
    </div>
</div>

