@{
    ViewData["Title"] = "Index";
    //Layout = "~/_Layout.cshtml";
}
<require type="Script" include="Development" priority="106" path="~/js/src/app/content-management/contentType.js"></require>


<div ng-app="deviser.contentTypes" ng-controller="ContentTypesCtrl as ctVM">
    <div class="row" ng-show="ctVM.message.content">
        <div class="alert alert-dismissable" ng-class="{'alert-danger':ctVM.message.messageType=='error',
                              'alert-info':ctVM.message.messageType=='info',
                              'alert-success':ctVM.message.messageType=='success',
                              'alert-warning':ctVM.message.messageType=='warning'}" role="alert">
            <button type="button" class="close" ng-click="ctVM.message = {}">
                <i class="fa fa-times" aria-hidden="true"></i>
            </button>
            {{ctVM.message.content}}
        </div>
    </div>

    <div class="row" ng-show="ctVM.currentViewState == ctVM.viewStates.LIST">
        <div class="col-md-12">
            <div class="portlet box blue" id="form_wizard_1">
                <div class="portlet-title">
                    <div class="caption">
                        <i class="fa fa-th"></i> Content Types
                    </div>
                </div>
                <div class="portlet-body form">
                    <form action="#" class="form-horizontal" id="submit_form" method="POST">

                        <div class="form-body">
                            <div class="table-toolbar">
                                <div class="row">
                                    <div class="col-md-6">
                                        <div class="btn-group">
                                            <a class="btn btn-success" ng-click="ctVM.newContent()"><i class="fa fa-plus"></i> New</a>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div class="table-scrollable">
                                <table class="table table-striped table-bordered table-advance table-hover">
                                    <thead>
                                        <tr>
                                            <th>
                                                Label
                                            </th>
                                            <th>
                                                Name
                                            </th>
                                            <th>
                                                Edit
                                            </th>
                                            <th>
                                                Is Active
                                            </th>
                                        </tr>
                                    </thead>
                                    <tbody>
                                        <tr ng-repeat="contentType in ctVM.contentTypes">
                                            <td>
                                                <i class="{{contentType.iconClass}}"></i>
                                                {{contentType.label}}
                                            </td>
                                            <td>
                                                {{contentType.name}}
                                            </td>
                                            <td>
                                                <a href="" class="btn btn-default btn-xs" ng-click="ctVM.edit(contentType)">
                                                    <i class="fa fa-edit"></i> Edit
                                                </a>
                                            </td>
                                            <td>
                                                <input type="checkbox" ng-model="contentType.isActive" ng-click="ctVM.activate(contentType)" />
                                            </td>
                                        </tr>
                                    </tbody>
                                </table>
                            </div>

                        </div>

                    </form>
                </div>
            </div>
        </div>
    </div>

    <div class="row" ng-show="ctVM.currentViewState == ctVM.viewStates.NEW || ctVM.currentViewState == ctVM.viewStates.EDIT">
        <div class="col-md-12">
            <div class="portlet box blue" id="form_wizard_1">
                <div class="portlet-title">
                    <div class="caption">
                        <i class="fa fa-th"></i> Content Types
                    </div>
                </div>
                <div class="portlet-body form">
                    <form class="form-horizontal" name="contentTypeForm" novalidate>
                        <div class="form-body">
                            <div class="form-group" ng-class="{'has-error':ctVM.hasError(contentTypeForm, 'label', 'required')}">
                                <label class="col-md-3 control-label">Label</label>
                                <div class="col-md-6">
                                    <input class="form-control" name="label" ng-model="ctVM.selectedContentType.label" required />
                                </div>
                            </div>
                            <div class="form-group"
                                 ng-class="{'has-error': (ctVM.hasError(contentTypeForm, 'label', 'required') || !ctVM.isValidName(ctVM.selectedContentType.name)) &&
                                 ctVM.currentViewState == ctVM.viewStates.NEW }">
                                <label class="col-md-3 control-label">Name</label>
                                <div class="col-md-6">
                                    <input dev-alphabets-only class="form-control"
                                           name="name"
                                           ng-model="ctVM.selectedContentType.name"
                                            ng-trim ="true"
                                           ng-disabled="ctVM.currentViewState == ctVM.viewStates.EDIT"
                                            />
                                </div>
                            </div>

                            @*<div class="form-group"
                                 ng-class="{'has-error': !ctVM.selectedContentType.contentDataType && contentTypeForm.submitted}">
                                <label class="col-md-3 control-label">Data Type</label>
                                <div class="col-md-6">
                                    <ui-select ng-model="ctVM.selectedContentType.contentDataType" theme="bootstrap"
                                               ng-disabled="ctVM.currentViewState == ctVM.viewStates.EDIT || ctVM.contentDataTypes.length<=0">
                                        <ui-select-match placeholder="Select data type">{{$select.selected.label}}</ui-select-match>
                                        <ui-select-choices repeat="language in ctVM.contentDataTypes | filter: $select.search">
                                            <div ng-bind-html="language.label | highlight: $select.search"></div>
                                        </ui-select-choices>
                                    </ui-select>
                                </div>
                            </div>*@
                            <div class="form-group">
                                <label class="col-md-3 control-label">Icon Class</label>
                                <div class="col-md-6">
                                    <input class="form-control" ng-model="ctVM.selectedContentType.iconClass" />
                                </div>
                            </div>
                            <div class="form-group">
                                <label class="col-md-3 control-label">Properties</label>
                                <div class="col-md-6">
                                    <ui-select tagging="ctVM.propertyTransform" ng-model="ctVM.selectedProperty" theme="bootstrap" ng-disabled="ctVM.properties.length<=0">
                                        <ui-select-match placeholder="Select property">{{$select.selected.label}}</ui-select-match>
                                        <ui-select-choices repeat="property in ctVM.properties | notInArray:ctVM.selectedContentType.properties:'id' | filter: $select.search">
                                            <div ng-if="property.isTag" ng-bind-html="(property.label | highlight: $select.search) +' (New Property)'"></div>
                                            <div ng-if="!property.isTag" ng-bind-html="(property.label | highlight: $select.search) + ' (' + property.name +')'"></div>
                                        </ui-select-choices>
                                    </ui-select>
                                </div>
                                <div class="col-md-3">
                                    <a class="btn btn-primary" ng-click="ctVM.addProperty()" ng-disabled="(ctVM.properties.length<=0 || !ctVM.selectedProperty || ctVM.isPropExist())">Add Property</a>
                                </div>
                            </div>
                            <div class="form-group">
                                <div class="col-md-6 col-md-offset-3">
                                    <div class="table-scrollable">
                                        <table class="table table-striped table-bordered table-advance table-hover">
                                            <thead>
                                                <tr>
                                                    <th>
                                                        Label
                                                    </th>
                                                    <th>
                                                        Name
                                                    </th>
                                                    <th>

                                                    </th>
                                                </tr>
                                            </thead>
                                            <tbody>
                                                <tr ng-repeat="property in ctVM.selectedContentType.properties">
                                                    <td>
                                                        {{property.label}}
                                                    </td>
                                                    <td>
                                                        {{property.name}}
                                                    </td>
                                                    <td>
                                                        <a href="" class="btn btn-default btn-xs" ng-click="ctVM.removeProperty(property)">
                                                            <i class="fa fa-trash-o"></i> Delete
                                                        </a>
                                                    </td>
                                                </tr>
                                            </tbody>
                                        </table>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="form-actions">
                            <div class="row">
                                <div class="col-md-offset-3 col-md-9">
                                    <button type="submit" class="btn btn-success" ng-click="ctVM.save()" ng-disabled="!ctVM.selectedContentType">Save</button>
                                    <button type="button" class="btn btn-default" ng-click="ctVM.cancel()">Cancel</button>
                                </div>
                            </div>
                        </div>
                    </form>
                </div>
            </div>
        </div>
    </div>

</div>
