@{
    ViewData["Title"] = "Index";
    //Layout = "~/_Layout.cshtml";
}
<require type="Script" priority="106" include="Development" path="~/js/src/app/content-management/optionList.js"></require>

<div ng-app="deviser.optionList" ng-controller="OptionListCtrl as olVM">
    <div class="row" ng-show="olVM.message.content">
        <div class="alert alert-dismissable" ng-class="{'alert-danger':olVM.message.messageType=='error',
                              'alert-info':olVM.message.messageType=='info',
                              'alert-success':olVM.message.messageType=='success',
                              'alert-warning':olVM.message.messageType=='warning'}" role="alert">
            <button type="button" class="close" ng-click="olVM.message = {}">
                <i class="fa fa-times" aria-hidden="true"></i>
            </button>
            {{olVM.message.content}}
        </div>
    </div>

    <div class="row" ng-show="olVM.currentViewState == olVM.viewStates.LIST">
        <div class="col-md-12">
            <div class="portlet box blue" id="form_wizard_1">
                <div class="portlet-title">
                    <div class="caption">
                        <i class="fa fa-th-list" aria-hidden="true"></i> Property Option List
                    </div>
                </div>
                <div class="portlet-body form">
                    <form action="#" class="form-horizontal" id="submit_form" method="POST">

                        <div class="form-body">
                            <div class="table-toolbar">
                                <div class="row">
                                    <div class="col-md-6">
                                        <div class="btn-group">
                                            <a class="btn btn-success" ng-click="olVM.newList()"><i class="fa fa-plus"></i> New </a>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div class="table-scrollable">
                                <table class="table table-striped table-bordered table-advance table-hover">
                                    <thead>
                                        <tr>
                                            <th>
                                                Label
                                            </th>
                                            <th>
                                                Name
                                            </th>
                                            <th>
                                                Edit
                                            </th>
                                            <th>
                                                Is Active
                                            </th>
                                        </tr>
                                    </thead>
                                    <tbody>
                                        <tr ng-repeat="optionList in olVM.optionLists">
                                            <td>
                                                {{optionList.label}}
                                            </td>
                                            <td>
                                                {{optionList.name}}
                                            </td>
                                            <td>
                                                <a href="" class="btn btn-default btn-xs" ng-click="olVM.edit(optionList)">
                                                    <i class="fa fa-edit"></i> Edit
                                                </a>
                                            </td>
                                            <td>
                                                <input type="checkbox" ng-model="optionList.isActive" ng-click="olVM.activate(optionList)" />
                                            </td>
                                        </tr>
                                    </tbody>
                                </table>
                            </div>

                        </div>

                    </form>
                </div>
            </div>
        </div>
    </div>

    <div class="row" ng-show="olVM.currentViewState == olVM.viewStates.NEW || olVM.currentViewState == olVM.viewStates.EDIT">
        <div class="col-md-12">
            <div class="portlet box blue" id="form_wizard_1">
                <div class="portlet-title">
                    <div class="caption">
                        <i class="fa fa-th-list" aria-hidden="true"></i> Property Option List
                    </div>
                </div>
                <div class="portlet-body form">
                    <form class="form-horizontal" name="optionListForm" novalidate>
                        <div class="form-body">
                            <div class="form-group" ng-class="{'has-error':olVM.hasError(optionListForm, 'label', 'required')}">
                                <label class="col-md-3 control-label">Label</label>
                                <div class="col-md-6">
                                    <input class="form-control" name="label" ng-model="olVM.selectedOptionList.label" required />
                                </div>
                            </div>
                            <div class="form-group"
                                 ng-class="{'has-error': (olVM.hasError(optionListForm, 'label', 'required') || !olVM.isValidName(olVM.selectedOptionList.name)) &&
                                 olVM.currentViewState == olVM.viewStates.NEW }">
                                <label class="col-md-3 control-label">Name</label>
                                <div class="col-md-6">
                                    <input class="form-control"
                                           name="name"
                                           ng-model="olVM.selectedOptionList.name"
                                           ng-disabled="olVM.currentViewState == olVM.viewStates.EDIT"
                                           sd-to-lower-case />
                                </div>
                            </div>
                            <div class="form-group">
                                <div class="col-md-6 col-md-offset-3">
                                    <div class="table-toolbar">
                                        <div class="row">
                                            <div class="col-md-6">
                                                <div class="btn-group">
                                                    <a class="btn btn-success" ng-click="olVM.addListItem()"><i class="fa fa-plus"></i> Add Item </a>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="table-scrollable">
                                        <table class="table table-striped table-bordered table-advance table-hover">
                                            <thead>
                                                <tr>
                                                    <th>
                                                        Label
                                                    </th>
                                                    <th>
                                                        Name
                                                    </th>
                                                    <th>

                                                    </th>
                                                </tr>
                                            </thead>
                                            <tbody>
                                                <tr ng-repeat="item in olVM.selectedOptionList.items">
                                                    <td>
                                                        <input class="form-control" name="label" ng-model="item.label" />
                                                    </td>
                                                    <td>
                                                        <input class="form-control" name="label" ng-model="item.name" />
                                                    </td>
                                                    <td>
                                                        <a href="" class="btn btn-default btn-xs" ng-click="olVM.removeListItem(item)">
                                                            <i class="fa fa-trash-o"></i> Delete
                                                        </a>
                                                    </td>
                                                </tr>
                                            </tbody>
                                        </table>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="form-actions">
                            <div class="row">
                                <div class="col-md-offset-3 col-md-9">
                                    <button type="submit" class="btn btn-success" ng-click="olVM.save()" ng-disabled="!olVM.selectedOptionList">Save</button>
                                    <button type="button" class="btn btn-default" ng-click="olVM.cancel()">Cancel</button>
                                </div>
                            </div>
                        </div>
                    </form>
                </div>
            </div>
        </div>
    </div>

</div>