<div
    *ngIf="field && field.fieldOption && field.fieldOption.labelOption && field.fieldOption.labelOption.labelType; then labelOption else fieldText">
</div>

<ng-template #labelOption>
    <ng-container [ngSwitch]="field.fieldOption.labelOption.labelType">
        <ng-container *ngSwitchCase="labelType.Icon">
            <i [ngClass]="item[field.fieldOption.labelOption.parameters.paramFieldNameCamelCase]"></i>
            <span [innerHTML]="itemText"></span>
        </ng-container>
        <ng-container *ngSwitchCase="labelType.Badge">
            <span class="badge" [ngClass]="getBadge(item, field)"
                [innerHTML]="itemText"></span>
        </ng-container>
    </ng-container>
</ng-template>

<ng-template #fieldText>
    <span [innerHTML]="itemText"></span>
</ng-template>