<script type="text/ng-template" id="contenttypes/carousel.html">
    <div class="modal-header">
        <h3 class="modal-title">Edit {{ecVM.typeInfo.type}}</h3>
    </div>
    <div class="modal-body" ng-init="ecVM.isList=true">
        <div class="form-group" ng-show="!ecVM.isDetailView">
            <ui-select ng-model="ecVM.selectedLocale" theme="bootstrap" ng-disabled="ecVM.languages.length<=0" ng-change="ecVM.changeLanguage()">
                <ui-select-match placeholder="Coose a language">{{$select.selected.englishName}}</ui-select-match>
                <ui-select-choices repeat="language in ecVM.languages | filter: $select.search">
                    <div ng-bind-html="language.englishName | highlight: $select.search"></div>
                    <small ng-bind-html="language.nativeName | highlight: $select.search"></small>
                </ui-select-choices>
            </ui-select>
        </div>
        <div ng-show="!ecVM.isDetailView">
            <a ng-click="ecVM.newItem()" class="btn btn-success"><i class="fa fa-plus"></i> Add</a>
            @*<div class="form-group">
                    <label for="exampleInputEmail1">Choose Slider Type</label>
                    <select id="sel" class="form-control" ng-model="slider.SliderType" ng-options="sliderType.Name for sliderType in masterData.sliderTypes"></select>
                </div>*@
            <table class="table table-hover" style="max-height:500px;overflow:auto">
                <thead>
                    <tr>
                        <th>Title</th>
                        <th>Description</th>
                        <th>View Order</th>
                        <th>Edit</th>
                        <th>Delete</th>
                    </tr>
                </thead>
                <tbody ui-sortable="ecVM.sortableOptions" ng-model="ecVM.contentTranslation.contentData.items">
                    <tr ng-repeat="item in ecVM.contentTranslation.contentData.items track by item.id | orderBy:item.viewOrder" class="item" style="cursor: move;">
                        <td>{{item.title}}</td>
                        <td>{{item.description}}</td>
                        <td>{{item.viewOrder}}</td>
                        <td>
                            <a ng-click="ecVM.editItem(item)" class="btn btn-default"><i class="fa fa-pencil"></i> Edit</a>
                        </td>
                        <td>
                            <a ng-click="ecVM.removeItem(item)" class="btn btn-danger"><i class="fa fa-trash-o"></i> Delete</a>
                        </td>
                    </tr>
                </tbody>
            </table>
        </div>

        <div ng-show="ecVM.isDetailView">
            <div class="form-group">
                <label for="txtTitle">Title</label>
                <input type="text" id="txtTitle" ng-model="ecVM.selectedItem.title" class="form-control" placeholder="Enter title">
            </div>            
            <div class="form-group">
                <label for="txtDescrption">Description</label>
                <textarea id="txtDescription" class="form-control" ng-model="ecVM.selectedItem.description" laceholder="Enter description"></textarea>
            </div>
            
            <div sd-image-manager src="ecVM.selectedItem.imageUrl" alt="ecVM.selectedItem.imageAltText" focus-point="ecVM.selectedItem.focusPoint"></div>

        </div>

    </div>
    <div class="modal-footer">
        <div ng-show="!ecVM.isDetailView">
            <button class="btn btn-primary" type="button" ng-click="ecVM.save()" ng-disabled="ecVM.isDetailView">Save</button>
            <button class="btn btn-warning" type="button" ng-click="ecVM.cancel()" ng-disabled="ecVM.isDetailView">Cancel</button>
        </div>
        <div ng-show="ecVM.isDetailView">
            <a class="btn btn-primary" ng-click="ecVM.updateItem()">Update Slide</a>
            <a class="btn btn-default" ng-click="ecVM.cancelDetailView()">Back to List</a>
        </div>
    </div>
</script>

