<div class="admin-form">
  <div *ngIf="adminConfig && adminConfig.modelConfig" class="card">
    <form [formGroup]="adminForm" (ngSubmit)="onSubmit()">
      <div class="card-header d-flex flex-row">        
        <ul class="nav nav-tabs card-header-tabs" role="tablist">
          <li class="nav-item" *ngFor="let formTab of formTabs">
            <a class="nav-link" role="tab" [ngClass]="{'active':formTab==selectedFormTab}"
              (click)="selectFormTab(formTab)" aria-selected="true">{{formTab.formTitle}}</a>
          </li>
        </ul>

      </div>

      <div class="card-body">

        <div class="tab-content">


          <div class="tab-pane fade" [ngClass]="{'show active':formTab==selectedFormTab}"
            *ngFor="let formTab of formTabs">

            <div class="form-action-container">
              <div class="form-actions d-flex">

                <button type="button" class="mr-auto btn btn-light" (click)="goBack()"
                  [disabled]="daConfig.adminConfigType != adminConfigType.GridAndForm">
                  <i class="my-icon" aria-label="My icon" [inlineSVG]="'assets/icons/chevron-left.svg' | envPath"></i>
                </button>

                <ng-container *ngIf="formTab.formConfig.formActions && formMode === FormMode.Update">
                  <button class="btn btn-light btn-action " type="button" [disabled]="!adminForm.valid"
                    *ngFor="let formAction of formTab.formConfig.formActions | keyvalue"
                    (click)="onAction(formTab.formName, formAction.key)">
                    {{formAction.value.buttonText}}
                  </button>
                </ng-container>

                <ng-container *ngIf="formTab.formType == formType.MainForm">
                  <button class="btn btn-primary btn-action" type="submit" [disabled]="!adminForm.valid">
                    <i class="my-icon" aria-label="My icon" [inlineSVG]="'assets/icons/save.svg' | envPath"></i>
                    Save
                  </button>
                </ng-container>
                <ng-container *ngIf="formTab.formType == formType.CustomForm">
                  <button class="btn btn-primary btn-action" type="button" [disabled]="!formTab.formGroup.valid"
                    (click)="onCustomFormSubmit(formTab)">
                    {{formTab.formConfig.formOption.saveButtonText}}
                  </button>
                </ng-container>
              </div>
            </div>
            <app-entity-form [formContext]="formTab">
            </app-entity-form>
          </div>
        </div>


        <div class="card" *ngIf="activeChildConfigs && activeChildConfigs.length > 0">
          <div class="card-header">
            <ul class="nav nav-tabs card-header-tabs" role="tablist">
              <li class="nav-item" *ngFor="let childConfig of activeChildConfigs">
                <a class="nav-link active" role="tab" [ngClass]="{'active':childConfig==selectedChildConfig}"
                  (click)="selectChildFormTab(childConfig)" aria-selected="true">{{childConfig.field.fieldName}}</a>
              </li>
            </ul>
          </div>
          <div class="card-body">
            <div class="tab-content" id="myTabContent">
              <div class="tab-pane fade" aria-labelledby="home-tab"
                [ngClass]="{'show active':childConfig==selectedChildConfig}"
                *ngFor="let childConfig of activeChildConfigs">
                <!-- {{childConfig.field.fieldName}} -->

                <app-child-grid [formControlName]="childConfig.field.fieldNameCamelCase" [childConfig]="childConfig"
                  [formMode]="formMode" [lookUps]="adminConfig.lookUps">
                </app-child-grid>

              </div>
            </div>
          </div>
        </div>
      </div>
    </form>
  </div>
</div>