<div>
    <div class="row">
        <!-- <div class="col-3">            
            <nav class="nav flex-column nav-pills">
                <span class="nav-title">Blog Admin</span>
                <a class="nav-link active" routerLink="/list">Blog</a>
            </nav>
        </div>
        <div class="col-9">
            <router-outlet></router-outlet>
        </div> -->
        <div class="col">
            <router-outlet></router-outlet>
        </div>
    </div>
    <!-- <div class="row">
        <div class="col">
            <app-messages></app-messages>
        </div>
    </div> -->
</div>
