@model Deviser.Core.Common.DomainTypes.DynamicContent
@inject IScopeService scopeService
@{
    var pageContext = scopeService.PageContext;
    var currentCulture = pageContext.CurrentCulture.ToString();

    dynamic rootObj = Model.Content;
}

@if (Model != null)
{
    <div>            
         @Html.Raw(rootObj.content)
    </div>
}
else{
    <div>
        Please enter the content
    </div>
}