@model List<LanguageViewModel>
@inject IScopeService scopeService
@using System.Security.Claims
@using Deviser.Core.Library
@using Deviser.WI.ViewModels.Components
@{
    Layout = null;
    var pageContext = scopeService.PageContext;
}


@if (Model != null && Model.Count > 1)
{
    foreach (var lang in Model)
    {
        string activeClass = lang.IsActive ? "active" : "";
        <li>
            <a href="@lang.Url" title="@lang.EnglishName" class="@activeClass"> @lang.Culture.TwoLetterISOLanguageName.ToUpper()</a>
        </li>
    }
}