@model List<LanguageViewModel>
@using System.Security.Claims
@using Deviser.Core.Library
@using Deviser.WI.ViewModels.Components
@{
    Layout = null;
    AppContext deviserContext = (AppContext)ViewBag.AppContext;  //HttpContext.Current.Session["AppContext"];
}

<ul class="menu-icons-list">
@foreach (var lang in Model)
{
    string activeClass = lang.IsActive ? "active" : "";
    <li class="menu-icons">
        <a href="@lang.Url" title="@lang.EnglishName" class="@activeClass"> @lang.Culture.TwoLetterISOLanguageName.ToUpper()</a>
    </li>
}
</ul>