@model List<LanguageViewModel>
@inject IScopeService scopeService
@using System.Security.Claims
@using Deviser.Core.Library
@using Deviser.WI.ViewModels.Components
@{
    Layout = null;
    var pageContext = scopeService.PageContext;
}


@if (Model != null && Model.Count > 1)
{
    foreach (var lang in Model)
    {
        <li class="nav-item @(lang.IsActive ? "active" : "")" href="@lang.Url" title="@lang.EnglishName">
            <a class="nav-link" href="#">@lang.Culture.TwoLetterISOLanguageName.ToUpper()</a>
        </li>
    }
}