@model dynamic
  

<p>
    Dear @Model.FirstName @Model.LastName, <br />
    Thank you for your interest, we will get back to you.
</p>

<table>    
    <tr>
        <th>Your message</th>
        <td>@Model.Message</td>
    </tr>
</table>