body {
    margin: 0;
    padding: 0;
}
/***
Page Header
***/
.dev-controlbar {
    font-family: "Open Sans", sans-serif;
    width: 100%;
    height: 50px;
    background-color: #1d2127;
    position: fixed;
    top: 0;
    z-index: 100;
    display: flex;
}

    .dev-controlbar .dev-logo {
        display: flex;
        align-items: center;
        margin-left: 0.7rem;
        margin-right: auto;
    }

        .dev-controlbar .dev-logo .dev-navbar-brand {
            height: 26px;
        }

            .dev-controlbar .dev-logo .dev-navbar-brand img {
                height: 26px;
            }

    .dev-controlbar .controlbar-menu {
        display: flex;
    }

        .dev-controlbar .controlbar-menu form {
            display: flex;
            text-transform: uppercase;
            padding: 0;
            margin: 0;
        }

            .dev-controlbar .controlbar-menu form a.dev-nav-link {
                color: #79869a;
                text-decoration: none;
                cursor: pointer;
            }

                .dev-controlbar .controlbar-menu form a.dev-nav-link:hover {
                    background-color: #171717
                }

                .dev-controlbar .controlbar-menu form a.dev-nav-link.active {
                    background-color: #485261;
                }

            .dev-controlbar .controlbar-menu form .dev-nav-link svg {
                margin: 0.5rem;
                display: flex;
            }

            .dev-controlbar .controlbar-menu form .dev-nav-link span {
                display: none;
            }

            .dev-controlbar .controlbar-menu form .dev-nav-item {
                display: flex;
                align-items: center;
                padding-left: 0.7rem;
                padding-right: 0.7rem;
            }

            .dev-controlbar .controlbar-menu form .dev-dropdown {
                display: flex;
                align-items: stretch;
            }

                .dev-controlbar .controlbar-menu form .dev-dropdown .dev-nav-link {
                    display: flex;
                    align-items: center;
                    padding-left: 0.7rem;
                    padding-right: 0.7rem;
                }


                .dev-controlbar .controlbar-menu form .dev-dropdown .dev-dropdown-menu {
                    position: absolute;
                    top: 50px;
                    display: flex;
                    flex-direction: column;
                    /* height: 2rem; */
                    background-color: #1d2127;
                    width: 100%;
                    visibility: hidden;
                    opacity: 0;
                    filter: alpha(opacity=0);
                    -webkit-transition: 200ms ease;
                    -moz-transition: 200ms ease;
                    -o-transition: 200ms ease;
                    transition: 200ms ease;
                }

                .dev-controlbar .controlbar-menu form .dev-dropdown.dev-dropdown-open .dev-dropdown-menu {
                    visibility: visible;
                    opacity: 1;
                    filter: alpha(opacity=100);
                }

                .dev-controlbar .controlbar-menu form .dev-dropdown .dev-dropdown-menu .dev-nav-link {
                    display: block;
                    padding: 0.5rem 1rem;
                }


/* Tablet menu */
@media all and (min-width: 700px) {
    .dev-controlbar .controlbar-menu form .dev-nav-link svg {
        margin-right: 0.5rem;
    }

    .dev-controlbar .controlbar-menu form .dev-nav-link span {
        display: block;
    }
}

.logged-in {
    margin-top: 50px;
}
