@{
    ViewData["Title"] = "Index";
    //Layout = "~/_Layout.cshtml";
}
<require type="Script" priority="101" path="~/js/src/app/page-management/app.js"></require>

<div ng-app="deviser.pageMangement" ng-controller="PageManagementCtrl as pmVM">

    <div class="row" ng-show="pmVM.message.content">
        <div ng-class="{'alert alert-danger':pmVM.message.messageType=='error',
                     'alert alert-info':pmVM.message.messageType=='info',
                     'alert alert-success':pmVM.message.messageType=='success',
                     'alert alert-warning':pmVM.message.messageType=='warning'}" role="alert">
            <button type="button" class="close" ng-click="pmVM.message = {}">
                <i class="fa fa-times" aria-hidden="true"></i>
            </button>

            {{pmVM.message.content}}
        </div>
    </div>


    <div class="row transition">
        <div class="col-lg-4">
            <!-- Nested list template -->
            <script type="text/ng-template" id="items_renderer.html">
                <div ng-click="pmVM.selectPage(page)" class="tree-node tree-node-content"
                     ng-class="{'selected' : pmVM.selectedItem.id === page.id}">
                    @*<div ui-tree-handle class="draggable-bar-container">
                            <div class="draggable-bar">
                                <i class="fa fa-bars"></i>
                            </div>
                        </div>*@

                    <a class="expander pull-left" ng-click="pmVM.toggle(this)" ng-show="page.childPage.length>0">
                        <!--<span class="glyphicon" ng-class="{'glyphicon-chevron-right': collapsed, 'glyphicon-chevron-down': !collapsed}"></span>-->
                        <i class="fa" ng-class="{'fa-angle-down' : !collapsed, 'fa-angle-right': collapsed}"></i>
                    </a>
                    <div ui-tree-handle class="draggable-content pull-left">
                        <div ng-repeat="translation in page.pageTranslation | selectLanguage:pmVM.siteLanguage">
                            <span>{{translation.name}}</span>
                            <div ng-bind="page.url = translation.url" style="display:none"></div>
                        </div>

                        <span ng-if="depth()==1">Root</span>
                    </div>
                    <div data-nodrag class="node-actions pull-right">

                        <a href="/{{page.url}}" target="_blank"><i class="fa fa-external-link" aria-hidden="true"></i></a>

                        <a data-nodrag ng-click="pmVM.newSubPage(page)" title="Add new page">
                            <i class="fa fa-plus"></i>
                        </a>
                        <a data-nodrag ng-click="pmVM.openConfirmDialog(page)" ng-show="depth()!=1" title="Remove this page">
                            <i class="fa fa-trash-o"></i>
                        </a>
                    </div>
                </div>
                <ol ui-tree-nodes="pmVM.options" ng-model="page.childPage" ng-class="{hidden: collapsed}">
                    <li ng-repeat="page in page.childPage" ui-tree-node ng-include="'items_renderer.html'" ng-show="!page.isDeleted">
                    </li>
                </ol>
            </script>
            <div class="form-group ui-tree">
                <div ui-tree="pmVM.options" data-drag-enabled="true" data-drag-delay="200" data-max-depth="8">
                    <ol ui-tree-nodes ng-model="pmVM.pages">
                        <li ng-repeat="page in pmVM.pages" ui-tree-node ng-include="'items_renderer.html'" ng-show="!page.isDeleted">
                        </li>
                    </ol>
                </div>
            </div>
        </div>
        <div class="col-lg-8" ng-show="pmVM.selectedItem.pageLevel && pmVM.selectedItem.pageLevel!=0">
            <form name="managePage" novalidate>
                <uib-accordion>
                    <uib-accordion-group is-open="pmVM.accordion.common" name="managePage1">
                        <uib-accordion-heading>
                            Common <i class="pull-right fa" ng-class="{'fa-chevron-down': pmVM.accordion.common, 'fa-chevron-right': !pmVM.accordion.common}"></i>
                        </uib-accordion-heading>


                        <div class="page-setting-content">
                            <div class="form-horizontal edit-page">
                                <div class="form-group">
                                    <label class="col-sm-2 control-label">Locale*</label>
                                    <div class="col-sm-6">
                                        @*<input type="text" class="form-control" placeholder="Enter page title" value="{{currentLocale}}" ng-model="translation.locale" readonly>*@
                                        @*<select ng-model="pmVM.currentLocale" ng-options="language.cultureCode as language.englishName for language in pmVM.languages" class="form-control" ng-change="pmVM.changeLanguage()">
                                        <option value="">-- Coose a language --</option>
                                    </select>*@
                                        <ui-select name="locale" ng-model="pmVM.currentLocale" theme="bootstrap" ng-disabled="lVM.languages.length<=0" ng-change="pmVM.changeLanguage()">
                                            <ui-select-match placeholder="Choose a language">{{$select.selected.englishName}}</ui-select-match>
                                            <ui-select-choices repeat="language.cultureCode as language in pmVM.languages | filter: $select.search">
                                                <div ng-bind-html="language.englishName | highlight: $select.search"></div>
                                                <small ng-bind-html="language.nativeName | highlight: $select.search"></small>
                                            </ui-select-choices>
                                        </ui-select>
                                    </div>
                                </div>
                            </div>
                            <div class="form-horizontal edit-page" ng-repeat="translation in pmVM.selectedItem.pageTranslation | selectLanguage:pmVM.currentLocale">
                                <div class="form-group" ng-class="{'has-error': managePage.name.$invalid && managePage.name.$dirty}">
                                    <label class="col-sm-2 control-label">Name*</label>
                                    <div class="col-sm-6">
                                        <input type="text" name="name" class="form-control" placeholder="Enter page name" ng-model="translation.name" required>
                                    </div>
                                </div>
                                <div class="form-group" ng-class="{'has-error': managePage.title.$invalid && managePage.title.$dirty}">
                                    <label class="col-sm-2 control-label">Title*</label>
                                    <div class="col-sm-6">
                                        <input type="text" name="title" class="form-control" placeholder="Enter page title" ng-model="translation.title" required>
                                    </div>
                                </div>
                                @*<div class="form-group">
                                <label class="col-sm-2 control-label">Locale</label>
                                <div class="col-sm-6">
                                    <input type="text" class="form-control" placeholder="Enter page title" value="{{currentLocale}}" ng-model="translation.locale" readonly>
                                </div>
                            </div>*@
                                <div class="form-group">
                                    <label class="col-sm-2 control-label">Description</label>
                                    <div class="col-sm-6">
                                        <textarea type="text" class="form-control" placeholder="Enter page description" ng-model="translation.description" rows="4"></textarea>
                                    </div>
                                </div>
                                <div class="form-group">
                                    <label class="col-sm-2 control-label">KeyWords</label>
                                    <div class="col-sm-6">
                                        <input type="text" class="form-control" placeholder="Enter keywords" ng-model="translation.keywords">
                                    </div>
                                </div>
                            </div>
                            <div class="form-horizontal edit-page">
                                <div class="form-group">
                                    <label class="col-sm-2 control-label">Is System</label>
                                    <div class="col-sm-6">
                                        <a ng-click="pmVM.selectedItem.isSystem=!pmVM.selectedItem.isSystem">
                                            <i class="fa fa-check-square-o"
                                               ng-class="{'fa-square-o':!pmVM.selectedItem.isSystem, 'fa-check-square-o':pmVM.selectedItem.isSystem}"
                                               aria-hidden="true"></i>
                                        </a>

                                        @*<div class="checkbox-list">
                                        <input type="checkbox" ng-model="">
                                    </div>*@
                                    </div>
                                </div>
                                <div class="form-group">
                                    <label class="col-sm-2 control-label">Include in Menu</label>
                                    <div class="col-sm-6">
                                        <a ng-click="pmVM.selectedItem.isIncludedInMenu=!pmVM.selectedItem.isIncludedInMenu">
                                            <i class="fa fa-check-square-o"
                                               ng-class="{'fa-square-o':!pmVM.selectedItem.isIncludedInMenu, 'fa-check-square-o':pmVM.selectedItem.isIncludedInMenu}"
                                               aria-hidden="true"></i>
                                        </a>

                                        @*<div class="checkbox-list">
                                        <input type="checkbox" ng-model="pmVM.selectedItem.isIncludedInMenu">
                                    </div>*@
                                    </div>
                                </div>
                                <div class="form-group" ng-class="{'has-error': managePage.theme.$invalid && managePage.theme.$dirty}">
                                    <label class="col-sm-2 control-label">Theme*</label>
                                    <div class="col-sm-6">
                                        <select name="theme" ng-model="pmVM.selectedItem.themeSrc" ng-options="theme.value as theme.key for theme in pmVM.themes" class="form-control" required>
                                            <option value="">-- Choose a theme --</option>
                                        </select>
                                    </div>
                                </div>
                                @*<div class="form-group">
                                <label class="col-sm-2 control-label">Live from</label>
                                <div class="col-sm-6">
                                    <div class="input-group">
                                        <input type="text" class="form-control" placeholder="Live from"
                                               datepicker-popup="{{pmVM.dateFormat}}"
                                               is-open="pmVM.liveFrom.opened"
                                               datepicker-options="pmVM.dateOptions"
                                               date-disabled="pmVM.disabledDatePicker(date, mode)"
                                               close-text="Close"
                                               ng-model="pmVM.selectedItem.startDate">
                                        <span class="input-group-btn">
                                            <a class="btn btn-default" ng-click="pmVM.openDatePicker($event, pmVM.liveFrom)">
                                                <i class="glyphicon glyphicon-calendar"></i>
                                            </a>
                                        </span>
                                    </div>
                                </div>
                            </div>
                            <div class="form-group">
                                <label class="col-sm-2 control-label">Live till</label>
                                <div class=" col-sm-6">
                                    <div class="input-group">
                                        <input type="text" class="form-control" placeholder="Live till"
                                               datepicker-popup="{{pmVM.dateFormat}}"
                                               is-open="pmVM.liveTill.opened"
                                               datepicker-options="pmVM.dateOptions"
                                               date-disabled="pmVM.disabledDatePicker(date, mode)"
                                               close-text="Close"
                                               ng-model="pmVM.selectedItem.endDate">
                                        <span class="input-group-btn">
                                            <a class="btn btn-default" ng-click="pmVM.openDatePicker($event, pmVM.liveTill)">
                                                <i class="glyphicon glyphicon-calendar"></i>
                                            </a>
                                        </span>
                                    </div>
                                </div>
                            </div>*@
                            </div>
                        </div>

                    </uib-accordion-group>

                    <uib-accordion-group is-open="pmVM.accordion.permissions">
                        <uib-accordion-heading>
                            Permissions <i class="pull-right fa" ng-class="{'fa-chevron-down': pmVM.accordion.permissions, 'fa-chevron-right': !pmVM.accordion.permissions}"></i>
                        </uib-accordion-heading>
                        <div class="page-setting-content">
                            <table class="table">
                                <thead>
                                    <tr>
                                        <th>
                                            Role
                                        </th>
                                        <th>
                                            View Page
                                        </th>
                                        <th>
                                            Edit Page
                                        </th>
                                    </tr>
                                </thead>
                                <tbody>
                                    <tr ng-repeat="role in pmVM.roles"
                                        ng-class="{'active':role.id === pmVM.administratorRoleId}">
                                        <td>
                                            {{role.name}}
                                        </td>
                                        <td>
                                            <a ng-click="pmVM.changeViewPermission(pmVM.selectedItem, role)">
                                                <i class="fa fa-check-square-o"
                                                   ng-class="{'fa-square-o':!pmVM.isView(pmVM.selectedItem, role) , 'fa-check-square-o':pmVM.isView(pmVM.selectedItem, role)}"
                                                   aria-hidden="true"></i>
                                            </a>
                                        </td>
                                        <td>
                                            <a ng-click="pmVM.changeEditPermission(pmVM.selectedItem, role)">
                                                <i class="fa fa-check-square-o"
                                                   ng-class="{'fa-square-o':!pmVM.isEdit(pmVM.selectedItem, role) , 'fa-check-square-o':pmVM.isEdit(pmVM.selectedItem, role)}"
                                                   aria-hidden="true"></i>
                                            </a>
                                        </td>
                                    </tr>
                                </tbody>
                            </table>
                        </div>
                    </uib-accordion-group>
                </uib-accordion>
            </form>
            <h2 ng-show="!pmVM.selectedItem.pageLevel || pmVM.selectedItem.pageLevel==0">Select a page to edit</h2>

            <div class="form-group">
                <button type="submit" class="btn btn-primary" ng-click="pmVM.save()" ng-disabled="managePage.$invalid || !pmVM.isChanged ">Save</button>
            </div>
        </div>

    </div>

    @await Html.PartialAsync("_NgComponents")

    @*<div class="row">
            <div class="col-lg-6">
                <pre class="code">{{ pmVM.pages | json }}</pre>
            </div>
        </div>*@
</div>