@{
    Layout = "~/Sites/Default/Themes/Skyline/ModuleDefault.cshtml";
}

<div class="container">
    <div class="blog-section-container">
        <div class="blog-post-section">
            @RenderBody()
        </div>
    </div>
</div>
