<script type="text/ng-template" id="edit_text">
    <div class="content-item-view" ng-show="!sdVM.isEditMode">
        {{sdVM.content.contentData}}
    </div>
    <div ng-show="!sdVM.isEditMode">
        <button type="button" class="btn btn-primary btn-xs" ng-click="sdVM.edit()"><i class="fa fa-pencil"></i></button>
    </div>
    <div class="content-item-edit" ng-show="sdVM.isEditMode">
        <div contenteditable ng-model="sdVM.content.contentData">
        </div>
        <button type="button" class="btn btn-primary btn-xs" ng-click="sdVM.save()"><i class="fa fa-floppy-o"></i> Save</button>
        <button type="button" class="btn btn-default btn-xs" ng-click="sdVM.cancel()">Cancel</button>
    </div>
</script>