@model Deviser.Core.Data.Entities.PageContent

@{
    bool isEditMode = false;
    string contentType = "";
    if (ViewData["isEditMode"] != null)
    {
        isEditMode = (bool)ViewData["isEditMode"];
    }
    if (ViewData["contentType"] != null)
    {
        contentType = (string)ViewData["contentType"];
    }

    string contentEditable = (isEditMode) ? "sd-edit" : "";
    dynamic typeInfo = JsonConvert.DeserializeObject<dynamic>(Model.TypeInfo);
    string typeName = (string)typeInfo.type;
}

@if (Model != null)
{
    if (isEditMode)
    {
        <div @contentEditable content-id="@Model.Id" container-id="@Model.ContainerId" content-type="@contentType" on-save="editVM.save" ng-model="editVM.pageContents">
            
        </div>
    }
    else
    {
        <div>
            Here is the text module....
            @Model.ContentData
        </div>
    }

}

