@{
    ViewData["Title"] = "Index";
}
<require type="Script" priority="108" include="Development" path="~/js/src/app/recycle-bin/recyclebin.js"></require>

<div ng-app="deviser.recycleBin" ng-controller="RecycleBinCtrl as rbVM">
    <div class="row" ng-show="rbVM.message.content">
        <div class="alert alert-dismissable" ng-class="{'alert-danger':rbVM.message.messageType=='error',
                            'alert-info':rbVM.message.messageType=='info',
                            'alert-success':rbVM.message.messageType=='success',
                            'alert-warning':rbVM.message.messageType=='warning'}" role="alert">
            <button type="button" class="close" ng-click="rbVM.message = {}">
                <i class="fa fa-times" aria-hidden="true"></i>
            </button>
            {{rbVM.message.content}}
        </div>
    </div>

    <div class="row">
        <div class="col-md-12">
            <div class="portlet box blue" id="form_wizard_1">
                <div class="portlet-title">
                    <div class="caption">
                        <i class="fa fa-recycle"></i> Recycle Bin
                    </div>
                </div>

                <div class="portlet-body form">
                    <ul class="nav nav-tabs">
                        <li class="active">
                            <a href="#tab_Pages" data-toggle="tab" aria-expanded="true">
                                Pages
                            </a>
                        </li>
                        <li class="">
                            <a href="#tab_Layouts" data-toggle="tab" aria-expanded="false">
                                Layouts
                            </a>
                        </li>
                        <li class="">
                            <a href="#tab_PageContents" data-toggle="tab" aria-expanded="false">
                                Content Types
                            </a>
                        </li>
                        <li class="">
                            <a href="#tab_PageModules" data-toggle="tab" aria-expanded="false">
                                Modules
                            </a>
                        </li>
                    </ul>
                    <div class="tab-content">
                        <div class="tab-pane fade active in" id="tab_Pages">
                            <div class="form-body">
                                <form action="#" class="form-horizontal" id="submit_form" method="POST">
                                    <div class="table-scrollable">
                                        <table class="table table-striped table-bordered table-advance table-hover">
                                            <thead>
                                                <tr>
                                                    <th>
                                                        Title
                                                    </th>
                                                    <th>
                                                        Restore
                                                    </th>
                                                    <th>
                                                        Delete
                                                    </th>
                                                </tr>
                                            </thead>
                                            <tbody>
                                                <tr ng-repeat="page in rbVM.pages">
                                                    <td>
                                                        {{ page.pageTranslation.title }}
                                                    </td>
                                                    <td>
                                                        <a href="" class="btn btn-default btn-xs" ng-click="rbVM.restorePage(page.id)">
                                                            <i class="fa fa-refresh"></i> Restore
                                                        </a>
                                                    </td>
                                                    <td>
                                                        <a href="" class="btn btn-default btn-xs" ng-click="rbVM.deletePage(page.id)">
                                                            <i class="fa fa-trash-o"></i> Delete
                                                        </a>
                                                    </td>
                                                </tr>
                                            </tbody>
                                        </table>
                                    </div>
                                </form>
                            </div>
                        </div>
                        <div class="tab-pane fade" id="tab_Layouts">
                            <div class="form-body">
                                <form action="#" class="form-horizontal" id="submit_form" method="POST">
                                    <div class="table-scrollable">
                                        <table class="table table-striped table-bordered table-advance table-hover">
                                            <thead>
                                                <tr>
                                                    <th>
                                                        Title
                                                    </th>
                                                    <th>
                                                        Restore
                                                    </th>
                                                    <th>
                                                        Delete
                                                    </th>
                                                </tr>
                                            </thead>
                                            <tbody>
                                                <tr ng-repeat="layout in rbVM.layouts">
                                                    <td>
                                                        {{ layout.name }}
                                                    </td>
                                                    <td>
                                                        <a href="" class="btn btn-default btn-xs" ng-click="rbVM.restoreLayout(layout)">
                                                            <i class="fa fa-refresh"></i> Restore
                                                        </a>
                                                    </td>
                                                    <td>
                                                        <a href="" class="btn btn-default btn-xs" ng-click="rbVM.deleteLayout(layout.id)">
                                                            <i class="fa fa-trash-o"></i> Delete
                                                        </a>
                                                    </td>
                                                </tr>
                                            </tbody>
                                        </table>
                                    </div>
                                </form>
                            </div>
                        </div>
                        <div class="tab-pane fade" id="tab_PageContents">
                            <div class="form-body">
                                <form action="#" class="form-horizontal" id="submit_form" method="POST">
                                    <div class="table-scrollable">
                                        <table class="table table-striped table-bordered table-advance table-hover">
                                            <thead>
                                                <tr>
                                                    <th>
                                                        Title
                                                    </th>
                                                    <th>
                                                        Page
                                                    </th>
                                                    <th>
                                                        Restore
                                                    </th>
                                                    <th>
                                                        Delete
                                                    </th>
                                                </tr>
                                            </thead>
                                            <tbody>
                                                <tr ng-repeat="pageContent in rbVM.pageContents">
                                                    <td>
                                                        {{pageContent.title}}
                                                    </td>
                                                    <td>
                                                        {{pageContent.page.pageTranslation.title}}
                                                    </td>
                                                    <td>
                                                        <a href="" class="btn btn-default btn-xs" ng-click="rbVM.restorePageContent(pageContent.id)">
                                                            <i class="fa fa-refresh"></i> Restore
                                                        </a>
                                                    </td>
                                                    <td>
                                                        <a href="" class="btn btn-default btn-xs" ng-click="rbVM.deletePageContent(pageContent.id)">
                                                            <i class="fa fa-trash-o"></i> Delete
                                                        </a>
                                                    </td>
                                                </tr>
                                            </tbody>
                                        </table>
                                    </div>
                                </form>
                            </div>
                        </div>
                        <div class="tab-pane fade" id="tab_PageModules">
                            <div class="form-body">
                                <form action="#" class="form-horizontal" id="submit_form" method="POST">
                                    <div class="table-scrollable">
                                        <table class="table table-striped table-bordered table-advance table-hover">
                                            <thead>
                                                <tr>
                                                    <th>
                                                        Title
                                                    </th>
                                                    <th>
                                                        Page
                                                    </th>
                                                    <th>
                                                        Restore
                                                    </th>
                                                    <th>
                                                        Delete
                                                    </th>
                                                </tr>
                                            </thead>
                                            <tbody>
                                                <tr ng-repeat="pageModule in rbVM.pageModules">
                                                    <td>
                                                        {{pageModule.title}}
                                                    </td>
                                                    <td>
                                                        {{pageModule.page.pageTranslation.title}}
                                                    </td>
                                                    <td>
                                                        <a href="" class="btn btn-default btn-xs" ng-click="rbVM.restorePageModule(pageModule.id)">
                                                            <i class="fa fa-refresh"></i> Restore
                                                        </a>
                                                    </td>
                                                    <td>
                                                        <a href="" class="btn btn-default btn-xs" ng-click="rbVM.deletePageModule(pageModule.id)">
                                                            <i class="fa fa-trash-o"></i> Delete
                                                        </a>
                                                    </td>
                                                </tr>
                                            </tbody>
                                        </table>
                                    </div>
                                </form>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>


