<cdk-tree [dataSource]="dataSource" [treeControl]="treeControl">
  <!-- This is the tree node template for leaf nodes -->
  <cdk-tree-node *cdkTreeNodeDef="let node" cdkTreeNodeToggle cdkTreeNodePadding
    (dragover)="handleDragOver($event, node);" (dragend)="handleDragEnd($event);" (drop)="handleDrop($event, node);"
    (click)="onNodeClick(node)">

    <div class="node-container" [ngClass]="getStyle(node)" draggable="true"
      (dragstart)="handleDragStart($event, node);">
      <!-- use a disabled button to provide padding for tree leaf -->
      <div class="node-content" [ngClass]="{'selected':selectedNode === node}">
        <button disabled class="btn btn-default">&nbsp;</button>
        <div class="tree-label">
          {{node.name}}
        </div>
        <button (click)="addNewItem(node)" class="btn btn-default btn-add">
          <i class="my-icon" aria-label="My icon" [inlineSVG]="'assets/icons/plus-circle.svg' | envPath"></i>
        </button>
        <button (click)="deleteItem(node)" class="btn btn-default btn-delete">
          <i class="my-icon" aria-label="My icon" [inlineSVG]="'assets/icons/trash.svg' | envPath"></i>
        </button>
      </div>
    </div>

  </cdk-tree-node>
  <!-- This is the tree node template for expandable nodes -->
  <cdk-tree-node *cdkTreeNodeDef="let node; when: hasChild" cdkTreeNodePadding
    (dragover)="handleDragOver($event, node);" (dragend)="handleDragEnd($event);" (drop)="handleDrop($event, node);"
    (click)="onNodeClick(node)">
    <div class="node-container" [ngClass]="getStyle(node)" draggable="true"
      (dragstart)="handleDragStart($event, node);">
      <div class="node-content" [ngClass]="{'selected':selectedNode === node}">
        <button cdkTreeNodeToggle [attr.aria-label]="'toggle ' + node.id" class="btn btn-default">
          <i class="my-icon" *ngIf="treeControl.isExpanded(node)" aria-label="My icon" [inlineSVG]="'assets/icons/chevron-down.svg' | envPath"></i>

          <i class="my-icon" *ngIf="!treeControl.isExpanded(node)" aria-label="My icon" [inlineSVG]="'assets/icons/chevron-right.svg' | envPath"></i>
        </button>
        <div class="tree-label">
          {{node.name}}
        </div>
        <button (click)="addNewItem(node)" class="btn btn-default btn-add">
          <i class="my-icon" aria-label="My icon" [inlineSVG]="'assets/icons/plus-circle.svg' | envPath"></i>
        </button>
      </div>
    </div>
  </cdk-tree-node>
</cdk-tree>