@model List<LanguageViewModel>
@inject IScopeService scopeService
@using System.Security.Claims
@using Deviser.Core.Library
@using Deviser.Web.ViewModels.Components
@{
    Layout = null;
    var pageContext = scopeService.PageContext;
}


@if (Model != null && Model.Count > 1)
{
    foreach (var lang in Model)
    {
        <ul class="language-switcher">
            <li class="nav-item @(lang.IsActive ? "active" : "")" title="@lang.EnglishName">
                <a class="nav-link" href="@lang.Url">@lang.Culture.TwoLetterISOLanguageName.ToUpper()</a>
            </li>
        </ul>
    }
}
