<div class="admin-grid" *ngIf="viewState == ViewState.LIST">
  <div class="row action-bar">
    <div class="col">
      <div class="float-left">
        <button type="button" class="btn btn-primary btn-action" (click)="onNewItem()">
          <i class="my-icon" aria-label="My icon" [inlineSVG]="'assets/icons/plus-circle.svg'| envPath"></i> Add
        </button>
      </div>
    </div>
  </div>

  <div class="row">
    <div class="col-sm-12">
      <div class="data-table">
        <table class="table" id="dataTable" width="100%" cellspacing="0" role="grid" aria-describedby="dataTable_info"
          style="width: 100%;">
          <thead>
            <tr>
              <th *ngFor="let field of childConfig.modelConfig.gridConfig.fields">{{field.fieldName}}</th>
              <th>Edit</th>
              <th>Delete</th>
            </tr>
          </thead>
          <tbody *ngIf="childRecords && childRecords.length>0" cdkDropList [cdkDropListData]="childRecords"
            (cdkDropListDropped)="drop($event)">
            <tr *ngFor="let item of childRecords" cdkDrag [cdkDragDisabled]="!isSortable">
              <td *ngFor="let field of childConfig.modelConfig.gridConfig.fields">
                <div
                  *ngIf="field && field.fieldOption && field.fieldOption.labelOption && field.fieldOption.labelOption.labelType; then labelOption else fieldText">
                </div>

                <ng-template #labelOption>
                  <ng-container [ngSwitch]="field.fieldOption.labelOption.labelType">
                    <ng-container *ngSwitchCase="labelType.Icon">
                      <i [ngClass]="item[field.fieldOption.labelOption.parameters.paramFieldNameCamelCase]"></i>
                      <span [innerHTML]="getFieldValue(item, field) | formatField:field"></span>
                    </ng-container>
                    <ng-container *ngSwitchCase="labelType.Badge">
                      <span class="badge" [ngClass]="getBadge(item, field)"
                        [innerHTML]="getFieldValue(item, field) | formatField:field"></span>
                    </ng-container>
                  </ng-container>
                </ng-template>

                <ng-template #fieldText>
                  <span [innerHTML]="getFieldValue(item, field) | formatField:field"></span>
                </ng-template>

              </td>
              <td>
                <a class="btn  btn-light" title="Edit" (click)="onEditItem(item)">
                  <i class="my-icon" aria-label="My icon" [inlineSVG]="'assets/icons/edit.svg' | envPath"></i>
                </a>
              </td>
              <td>
                <a class="btn btn-light" title="Delete" (click)="openDeleteConfirmationModal(item)">
                  <i class="my-icon" aria-label="My icon" [inlineSVG]="'assets/icons/trash.svg' | envPath"></i>
                </a>
              </td>
            </tr>
          </tbody>
        </table>
      </div>

    </div>
  </div>
</div>

<div class="admin-form" *ngIf="childForm && (viewState == ViewState.EDIT || viewState == ViewState.ADD)">
  <div class="row">
    <div class="col">
      <app-entity-form [formContext]="formContext">
      </app-entity-form>
    </div>
  </div>
  <div class="d-flex justify-content-end">
    <button type="button" class="btn btn-light btn-action" (click)="onCancelItem()">Cancel</button>
    <button type="button" class="btn btn-primary btn-action" *ngIf="viewState == ViewState.ADD"
      [disabled]="!childForm.valid" (click)="onAddItem()">Add</button>
    <button type="button" class="btn btn-primary btn-action" *ngIf="viewState == ViewState.EDIT"
      [disabled]="!childForm.valid" (click)="onUpdateItem()">Update</button>
  </div>
</div>

<app-confirm-dialog [title]="'Confirmation'" [content]="'Are you sure to delete this item?'" [btnConfirmText]="'Yes'"
  [btnCancelText]="'No'" (confirm)="onYesToDelete($event)" (cancel)="onNoToDelete($event)"></app-confirm-dialog>