<div class="admin-grid" *ngIf="viewState == ViewState.LIST">
  <div class="row action-bar">
    <div class="col">
      <div class="float-left">
        <button type="button" class="btn btn-primary btn-sm" (click)="onNewItem()">
          <i class="my-icon" aria-label="My icon" [inlineSVG]="'../../assets/icons/baseline-add.svg'"></i> Add
        </button>
      </div>
    </div>
  </div>

  <div class="row">
    <div class="col-sm-12">
      <table class="table table-bordered dataTable" id="dataTable" width="100%" cellspacing="0" role="grid"
        aria-describedby="dataTable_info" style="width: 100%;">
        <thead>
          <tr>
            <th *ngFor="let field of childConfig.modelConfig.gridConfig.fields">{{field.fieldName}}</th>
            <th>Edit</th>
            <th>Delete</th>
          </tr>
        </thead>
        <tbody *ngIf="childRecords && childRecords.length>0">
          <tr *ngFor="let item of childRecords">
            <td *ngFor="let field of childConfig.modelConfig.gridConfig.fields"
              [innerHTML]="item[field.fieldNameCamelCase] | formatField:field">

            </td>
            <td>
              <a class="btn btn-dark" title="Edit" (click)="onEditItem(item)">
                <i class="my-icon" aria-label="My icon" [inlineSVG]="'assets/icons/baseline-edit.svg' | envPath"></i>
              </a>
            </td>
            <td>
              <a class="btn btn-danger" title="Delete" (click)="openDeleteConfirmationModal(item)">
                <i class="my-icon" aria-label="My icon" [inlineSVG]="'assets/icons/baseline-delete.svg' | envPath"></i>
              </a>
            </td>
          </tr>
        </tbody>
      </table>
    </div>
  </div>
</div>

<div class="admin-form" *ngIf="childForm && (viewState == ViewState.EDIT || viewState == ViewState.ADD)">
  <div class="row">
    <div class="col">
      <app-entity-form [formContext]="formContext">
      </app-entity-form>
    </div>
  </div>
  <div class="d-flex justify-content-end">
    <button type="button" class="btn btn-secondary btn-cancel" (click)="onCancelItem()">Cancel</button>
    <button type="button" class="btn btn-primary" *ngIf="viewState == ViewState.ADD" [disabled]="!childForm.valid"
      (click)="onAddItem()">Add</button>
    <button type="button" class="btn btn-primary" *ngIf="viewState == ViewState.EDIT" [disabled]="!childForm.valid"
      (click)="onUpdateItem()">Update</button>
  </div>
</div>

<app-confirm-dialog [title]="'Confirmation'" [content]="'Are you sure to delete this item?'" [btnConfirmText]="'Yes'"
  [btnCancelText]="'No'" (confirm)="onYesToDelete($event)" (cancel)="onNoToDelete($event)"></app-confirm-dialog>