@{
    ViewData["Title"] = "Index";
    //Layout = "~/_Layout.cshtml";
}

<require type="Script" include="Development" priority="105" path="~/js/src/app/file-manager/app.js"></require>

<div ng-app="deviser.filemanger" ng-controller="FileManagerCtrl as fVM">
    <div class="row" ng-show="fVM.message.content">
        <div class="alert alert-dismissable" ng-class="{'alert-danger':fVM.message.messageType=='error',
                              'alert-info':fVM.message.messageType=='info',
                              'alert-success':fVM.message.messageType=='success',
                              'alert-warning':fVM.message.messageType=='warning'}" role="alert">
            <button type="button" class="close" ng-click="fVM.message = {}">
                <i class="fa fa-times" aria-hidden="true"></i>
            </button>
            {{fVM.message.content}}
        </div>
    </div>

        <h2>Add File Manager here...</h2>

    </div>
