@{
    ViewData["Title"] = "Forgot password confirmation";
    Layout = "~/Sites/Default/Themes/Skyline/ModuleDefault.cshtml";
}


<div class="security-container">
    <div class="row d-flex justify-content-center align-items-stretch">
        <div class="col-md-6">
            <h2>@ViewData["Title"]</h2>
            <p>
                Please check your email to reset your password.
            </p>

        </div>
    </div>
</div>

      