@model ForgotPasswordViewModel
@{
    ViewData["Title"] = "Forgot your password?";
    Layout = "~/Sites/Default/Themes/Skyline/ModuleDefault.cshtml";
}

<div class="security-container">    
    <div class="row d-flex justify-content-center align-items-stretch">
        <div class="col-md-5">
            <h2>@ViewData["Title"]</h2>
            <form dev-module="Security" dev-controller="Account" dev-action="ForgotPassword" method="post" class="form-horizontal">
                @*<div asp-validation-summary="All" class="text-danger"></div>*@
                <div class="form-group">
                    <label>Enter your email</label>
                    <input asp-for="Email" class="form-control" />
                    <span asp-validation-for="Email" class="text-danger"></span>
                </div>
                <button type="submit" class="btn btn-primary">Submit</button>
            </form>
        </div>
    </div>
</div>
@section Scripts {
    @await Html.PartialAsync("_ValidationScriptsPartial")
}
