@using Deviser.Core.Common
@inject IScopeService scopeService
@inject INavigation navigation
@{
    var pageContext = scopeService.PageContext;
    ViewData["Title"] = "Reset password confirmation";
    Layout = "~/Sites/Default/Themes/Skyline/ModuleDefault.cshtml";
}

<div class="security-container">
    <div class="row d-flex justify-content-center align-items-stretch">
        <div class="col-md-6">
            <h2>@ViewData["Title"]</h2>
            <p>
                Your password has been reset. Please <a href="@navigation.NavigateUrl(pageContext.SiteSettingInfo.LoginPageId)">click here to log in</a>.
            </p>
        </div>
    </div>
</div>